<body id="labtop">
<div class="container-fluid">
  <%= render "common/navbar" %>
      <%= render "common/flashes" %>
<h2> New Product </h2>

<%= simple_form_for [:admin, @product] do |f| %>

  <div class="group">
    <%= f.input :title %>
  </div>

  <div class="group">
    <%= f.input :description %>
  </div>

  <div class="group">
    <%= f.input :quantity %>
  </div>

  <div class="group">
    <%= f.input :price %>
  </div>

  <div class="group">
    <%= f.input :categories %>
  </div>

  <div class="group">
    <%= f.input :image, as: :file %>
 </div>

  <div class="group">
  <%= f.input :image_path %>
 </div>
 <div class="group">
   <strong>Is_Fund: </strong><%=f.select :is_fund, [true,false]%>
 </div>

  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>

<% end %>
</div>
</body>
