
<head>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->

	<style>
	ul > li{margin-right:30px;font-size:14px;cursor:pointer}
	li.active{border-bottom:3px solid silver;}
	.item-photo{display:flex;justify-content:center;align-items:center;border-right:1px solid #f6f6f6;}
	.menu-items{list-style-type:none;font-size:11px;display:inline-flex;margin-bottom:0px;margin-top:20px}
	.section{width:100%;margin-left:-15px;padding:2px;padding-left:15px;padding-right:15px;background:#f8f9f9}
	.btn-minus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-right:0px;}
	.btn-plus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-left:0px;}
	div.section > div {width:100%;display:inline-flex;}
	div.section > div > input {margin:0px;padding-left:5px;font-size:10px;padding-right:5px;max-width:18%;text-align:center;}



	</style>
</head>

<body>
	<div class="container-fluid">
	<%= render "common/navbar" %>
			<%= render "common/flashes" %>

<div class="container">
	<div class="row">
   <div class="col-xs-6 item-photo" id="div1">


		<!-- <img src="/images/funding_kqg.jpg	" alt="空气果"/> -->
  </div>
  <div class="col-xs-6" style="border:0px solid gray">

    <h3 id="tt"><%= @product.title %></h3>
			<p>
				已筹到
			</p>
			<p id="pp" style="font-size:30px;margin-top:5px;">
				¥8999
			</p>
			<div class="p-line">

			</div>
			<p>
				此项目必须在 <span style="color:red;">2017年03月31日 </span>前得到 <span style="color:red;">￥100’000 </span>的支持才可成功！
			</p>
      </div>


    </div>


	</div>
</div>
<!-- 选项卡区 -->
<div class="row">
	<div class="col-sm-8" >
		<div class="productDecription">
		  <div class="productDecription-menuList">
		    <div class="productDecription-menuList-item current-now">功能</div>
		    <div class="productDecription-menuList-item">细节</div>
				<div class="productDecription-menuList-item">Why Me</div>

		  </div>
		  <div class="productDecription-content">
		    <div class="productDecription-content-item" style="display: block;">
						<center id="pf">
							<!-- js动态添加img标签 -->
						</center>
				</div>
		    <div class="productDecription-content-item">
					<center id="pd">
						<!-- js动态添加img标签 -->
					</center>

				</div>
				<div class="productDecription-content-item ">
					<p style="margin:50px;font-size:18px;height:1000px;">
						<%=@product.description%>
					</p>
				</div>
		  </div>
		</div>
	</div>
	<!-- 众筹区 -->
	<div class="col-sm-4 ">
	  <!-- 发起人 -->
	  <div class="funding-offer-item">
       <div class="funding-offer-item-title">
				项目发起人
			 </div>
			 <div class="text-center">
				 <div style="width:100%;"><img src="/images/air-logo.png" style="padding:5px 190px;"/></div>
				 <div class="thumbnail text-center" style="margin:0px 10px 20px 10px;width:38%;display:inline-block">
            <img src="/images/elz.jpg" />
						<p style="margin-top:5px;font-size:10px;">ElizaChen</p>
				 </div>
				 <div class="thumbnail text-center" style="margin:10px;width:38%;display:inline-block">
					 <img src="/images/coco.jpg" />
					 <p style="margin-top:5px;font-size:10px">Cococardry</p>
				 </div>
			 </div>

		</div>
		<!-- ¥1众筹抽奖 -->
		<div class="funding-offer-item">
			<div class="funding-offer-item-title">
		   ￥1
			</div>
			<div style="margin:20px;">
				<strong>无限额 </strong> | <span class="app-tag">抽奖档</span>
				<p style="margin-top:20px;">
					每满100位支持者抽取1位幸运用户。幸运用户将会获得<%= @product.title %>1台。届时防霾库将第一时间通知中奖者。
				</p>
				<span style="margin-top:10px;">
					配送费用： <strong>免运费</strong>
				</span><br/>

				<span style="margin-top:10px;">
					预计回报发送时间：<strong>项目众筹成功后30天内</strong>
				</span>
			</div>


    <div class="text-center">
			<%= link_to("支持¥1", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-danger mybtn") %>
		</div>
		</div>

		<!-- 优惠众筹 -->
		<div class="funding-offer-item">
			<div class="funding-offer-item-title" id="fp">
			 <!-- ￥799 -->
			</div>
			<div style="margin:20px;">
				<strong>无限额 </strong> | <span class="app-tag">优惠档</span>
				<p style="margin-top:20px;">
					感谢您对防霾库的支持，您将获得远低于市场价的<%= @product.title %>1台。
				</p>
				<span style="margin-top:10px;">
					配送费用： <strong>免运费</strong>
				</span><br/>

				<span style="margin-top:10px;">
					预计回报发送时间：<strong>项目众筹成功后30天内</strong>
				</span>
			</div>


    <div class="text-center">
			<%if @product.id==2%>
			  <a id="btn-fp"class="btn btn-primary btn-danger mybtn" rel="nofollow" data-method="post" href="/products/2/add_to_cart_f">
			  </a>
			<%else%>
			  <a id="btn-fp"class="btn btn-primary btn-danger mybtn" rel="nofollow" data-method="post" href="/products/4/add_to_cart_f">
			  </a>
			<%end%>
		</div>
		</div>
	</div>
</div>
</div>




</body>
<style>
 .app-tag {
    padding: 0 7px;
    height: 18px;
    color: #fff;
    background: #ffaa05;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.mybtn{
  /*margin-left:-90px;*/
	margin-top:10px;
	height:40px;
   width:150px;
   /*border-radius: 1px;*/
   letter-spacing: 2px;
   font-size:18px;
}

/*商品详情*/
.productDecription {
	border: 1px solid #f2f2f2;
	box-shadow: 0 0 40px rgba(216,216,216,.5);
	/*width: 810px;*/

}

.productDecription-menuList {
	margin: 0 20px;
	height: 60px;
  border-bottom: 1px solid #e6e6e6;
}

.productDecription-menuList-item {
	width: 192px;
	height: 56px;
	float: left;
	line-height: 56px;
	text-align: center;
	color: #323232;
	font-size: 18px;
	letter-spacing: 3px;
	cursor: pointer;
}

.productDecription-content {
	width: auto;
	height: auto;
	/*margin: 50px auto;*/
}

	.productDecription-content-item {
		display: none;
		width: auto;

	}


.funding-offer{
	width:300px;
	height:1000px;
  /*display: inline-block;*/
	margin-top: -100px;
	border: 1px solid #f2f2f2;
	box-shadow: 0 0 40px rgba(216,216,216,.5);
}
.funding-offer-item{
	/*width:inherit;*/
	border: 1px solid #f2f2f2;
	box-shadow: 0 0 40px rgba(216,216,216,.5);
	height:333px;
  margin-bottom:25px;
}
.funding-offer-item-title{
	text-align: center;
	line-height: 56px;
	height: 60px;
	font-size: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.funding-product-description{
	border: 1px solid #f2f2f2;
	box-shadow: 0 0 40px rgba(216,216,216,.5);
	width: 810px;
  display: inline-block;
	/*float: left;*/
}

.current-now {
    color: #2fd6a2;
    font-weight: 700;
		border-bottom:4px solid #2fd6a2;
		/*padding: 0px;*/
}
.p-line{
	color: #2fd6a2;
}


</style>
<script>
// 切换选项卡
$(document).on('click', '.productDecription-menuList-item', function () {
  var index = $(this).index() //拿到这个「选项卡」的index，第一个是0，第二个是1，以此类推
  $('.productDecription-content-item').hide();
	$('.productDecription-content-item').eq(index).show();
	$('.productDecription-menuList-item').removeClass('current-now');
	$(this).addClass('current-now');
})
// 动态加载图片、信息
$(document).ready(function(){

	var imgtag=document.createElement('img');
	var div1=document.getElementById('div1');
	div1.appendChild(imgtag);
  // 功能
	var pf=document.getElementById('pf');
	var imgtag_function = new Array("imgtag_function1","imgtag_function2","imgtag_function3","imgtag_function4");
	for(var i=0;i<4	;i++){
		imgtag_function[i]=document.createElement('img');
	}

  // 细节
	var pd=document.getElementById('pd');
	var imgtag_detail = new Array("imgtag_detail1","imgtag_detail2","imgtag_detail3","imgtag_detail4");
	for(var j=0;j<4;j++){
		imgtag_detail[j]=document.createElement('img');
	}

  var tt=$('#tt').text();
  if(tt=="空气果"){
		document.getElementById('fp').innerHTML='¥799';
		document.getElementById('btn-fp').innerHTML='¥799';
		imgtag.setAttribute('src','/images/funding_kqg.jpg');
		imgtag.setAttribute('alt','空气果');
		pf.appendChild(imgtag_function[0]);
		pd.appendChild(imgtag_detail[0]);
		imgtag_function[0].setAttribute('src','/images/kqg_function.jpg');
		imgtag_detail[0].setAttribute('src','/images/kqg_detail.jpg');
	}else if (tt=="小米口罩") {
		imgtag.setAttribute('src','/images/funding_kz.jpg');
		imgtag.setAttribute('alt','口罩');
		// var pp=$('#pp').text();
		document.getElementById('pp').innerHTML='¥6888';
		document.getElementById('fp').innerHTML='¥49';
		document.getElementById('btn-fp').innerHTML='¥49';
    for(var i=0;i<4;i++){
			pf.appendChild(imgtag_function[i]);
		}
		imgtag_function[0].setAttribute('src','/images/kz_function1.jpg');
    imgtag_function[1].setAttribute('src','/images/kz_function2.jpg');
		imgtag_function[2].setAttribute('src','/images/kz_function3.jpg');
		imgtag_function[3].setAttribute('src','/images/kz_function4.jpg');
		for(var j=0;j<3;j++){
			pd.appendChild(imgtag_detail[j]);
		}
		imgtag_detail[0].setAttribute('src','/images/kz_detail_1.jpg');
		imgtag_detail[1].setAttribute('src','/images/kz_detail_2.jpg');
		imgtag_detail[2].setAttribute('src','/images/kz_detail_3.jpg');
	}else{
		imgtag.setAttribute('src','/images/panel/funding.jpeg');
		imgtag.setAttribute('alt','众筹');
		imgtag_function.setAttribute('src','/images/panel/funding.jpeg');
		imgtag_function.setAttribute('alt','众筹');
	}


})




</script>
