<!-- <div class="row">
  <% @products.each do |product| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <%= product.title %> ￥ <%= product.price %>
    </div>
  <% end %>
</div> -->

<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <meta property="og:url" content="http://www.muji.com/cn/">
        <meta property="og:image" content="http://www.muji.com/cn/img/ogimage.png">
        <meta name="description" content="在神器库，我们精心搜集了，那些流行于硅谷的生物黑科技食品、神器、科技众筹产品，以帮助您，提工作效率和生活品质。">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="robots" content="noydir,noodp">

        <title>神器库</title>
        <link rel="stylesheet" href="/cn/store/css/normalize.css">
        <link rel="stylesheet" href="/cn/store/css/muji.2.1.css">
        <link rel="stylesheet" href="/cn/store/css/muji_cn.css">
        <link rel="stylesheet" href="/cn/store/css/muji_cn.2.0.css">
        <link rel="stylesheet" href="/cn/store/css/portal.1.0.css">
        <link rel="stylesheet" href="/cn/store/css/portal_cn.css">
        <link rel="stylesheet" href="/cn/store/css/marker.css">
        <link rel="stylesheet" href="/cn/store/css/self_marker.css">

        <script src="/cn/store/js/lib/jquery.min.1.11.0.js"></script>

        <!--[if lt IE 9]> <script src="/cn/store/js/lib/html5.js"></script> <script src="/cn/store/js/lib/respond.js"></script> <![endif]-->
        <script src="//assets.adobedtm.com/a6e9b8b912d51aecbc12256558ef49a48670b2e5/satelliteLib-9fa8fa56b87f6d219078e5bd7ee860df5977511f.js"></script>
        <meta name="google-site-verification" content="uuJ36II6toGyemYG32iDkK7S5iwki-LVe0XJytvliUA"/>
        <meta name="baidu-site-verification" content="IzCrHv6BWr"/>

    </head>

    <body>

        <div id="main">

            <section id="mainCampaign">
                <div class="wrap">
                    <div class="mainPanel">
                        <a href="/">
                            <img src="/images/panel/c17020301_pc.jpg" alt="科技改变生活" class="pc">
                            <img src="/images/panel/c17020301_sp.jpg" alt="科技改变生活" class="mobile">
                            <span class="title"></span>
                        </a>
                    </div>

                    <ul class="fourPanels">

                        <li>
                            <a href="/">
                                <img src="/images/panel/sale_640.png" alt="SALE">
                                <span class="title"></span>
                            </a>
                        </li>

                        <li>
                            <a href="/">
                                <img src="/images/panel/compactlife_640.jpg" alt="Compact  Life  in  CHINA">
                                <span class="title">生物黑科技食品</span>
                            </a>
                        </li>

                        <li>
                            <a href="/">
                                <img src="//www.muji.com/img/panel/skincare2016aw_640.jpg" alt="Aging skincare">
                                <span class="title">提高效率神器</span>
                            </a>
                        </li>

                        <li>
                            <a href="/">
                                <img src="//www.muji.com/img/i-am-muji/panel.jpg" alt="I am MUJI.">
                                <span class="title">科技众筹产品</span>
                            </a>
                        </li>

                    </ul>
                </div>

                <div class="more">
                    <a href="/">更多</a>
                </div>

            </section>

            <section id="newItem">
                <h1>神器</h1>

                <div class="more">
                    <a href="/">更多</a>
                </div>

                <div class="wrap">
                    <ul>

                        <li>
                            <a href="/">
                                <span class="thumb"><img src="http://img.muji.com.cn/img/item/4549738598435_400.jpg" width="50"></span>
                                <span class="name">Aron椅子</span>
                                <span class="name">神器指数：⭐️⭐️⭐️⭐️⭐️</span>
                                <span class="name">💰8000</span>

                            </a>
                        </li>

                        <li>
                            <a href="/">
                                <span class="thumb"><img src="http://img.muji.com.cn/img/item/4549738557876_400.jpg" width="50"></span>
                                <span class="name">牛排</span>
                                <span class="name">神器指数：⭐️⭐️⭐️⭐️</span>
                                <span class="name">💰100</span>
                            </a>
                        </li>

                        <li>
                            <a href="/">
                                <span class="thumb"><img src="http://img.muji.com.cn/img/item/4549738503521_400.jpg" width="50"></span>
                                <span class="name">牛排</span>
                                <span class="name">神器指数：⭐️⭐️⭐️⭐️</span>
                                <span class="name">💰100</span>
                            </a>
                        </li>

                        <li>
                            <a href="/">
                                <span class="thumb"><img src="http://img.muji.com.cn/img/item/4549738915324_400.jpg" width="50"></span>
                                <span class="name">牛排</span>
                                <span class="name">神器指数：⭐️⭐️⭐️⭐️</span>
                                <span class="name">💰100</span>
                            </a>
                        </li>

                        <li>
                            <a href="/">
                                <span class="thumb"><img src="http://img.muji.com.cn/img/item/4934761479927_400.jpg" width="50"></span>
                                <span class="name">牛排</span>
                                <span class="name">神器指数：⭐️⭐️⭐️⭐️</span>
                                <span class="name">💰100</span>
                            </a>
                        </li>

                        <li>
                            <a href="/">
                                <span class="thumb"><img src="http://img.muji.com.cn/img/item/4549738689126_400.jpg" width="50"></span>
                                <span class="name">牛蒡鸡肉饭煮饭酱</span>
                                <span class="name">神器指数：⭐️⭐️⭐️⭐️</span>
                                <span class="name">💰100</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </section>


            <section id="newItem">
                <h1>元气美食</h1>

                <div class="more">
                    <a href="/">更多</a>
                </div>

                <div class="wrap">
                    <ul>

                        <li>
                            <a href="/">
                                <span class="thumb"><img src="http://img.muji.com.cn/img/item/4549738598435_400.jpg" width="50"></span>
                                <span class="name">防弹咖啡</span>
                                <span class="name">神器指数：⭐️⭐️⭐️⭐️⭐️</span>
                                <span class="name">💰100</span>

                            </a>
                        </li>

                        <li>
                            <a href="/">
                                <span class="thumb"><img src="http://img.muji.com.cn/img/item/4549738557876_400.jpg" width="50"></span>
                                <span class="name">牛排</span>
                                <span class="name">神器指数：⭐️⭐️⭐️⭐️</span>
                                <span class="name">💰100</span>
                            </a>
                        </li>

                        <li>
                            <a href="/">
                                <span class="thumb"><img src="http://img.muji.com.cn/img/item/4549738503521_400.jpg" width="50"></span>
                                <span class="name">牛排</span>
                                <span class="name">神器指数：⭐️⭐️⭐️⭐️</span>
                                <span class="name">💰100</span>
                            </a>
                        </li>

                        <li>
                            <a href="/">
                                <span class="thumb"><img src="http://img.muji.com.cn/img/item/4549738915324_400.jpg" width="50"></span>
                                <span class="name">牛排</span>
                                <span class="name">神器指数：⭐️⭐️⭐️⭐️</span>
                                <span class="name">💰100</span>
                            </a>
                        </li>

                        <li>
                            <a href="/">
                                <span class="thumb"><img src="http://img.muji.com.cn/img/item/4934761479927_400.jpg" width="50"></span>
                                <span class="name">牛排</span>
                                <span class="name">神器指数：⭐️⭐️⭐️⭐️</span>
                                <span class="name">💰100</span>
                            </a>
                        </li>

                        <li>
                            <a href="/">
                                <span class="thumb"><img src="http://img.muji.com.cn/img/item/4549738689126_400.jpg" width="50"></span>
                                <span class="name">牛蒡鸡肉饭煮饭酱</span>
                                <span class="name">神器指数：⭐️⭐️⭐️⭐️</span>
                                <span class="name">💰100</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </section>

            <section id="newItem">
                <h1>居家</h1>

                <div class="more">
                    <a href="/">更多</a>
                </div>

                <div class="wrap">
                    <ul>

                        <li>
                            <a href="/">
                                <span class="thumb"><img src="http://img.muji.com.cn/img/item/4549738598435_400.jpg" width="50"></span>
                                <span class="name">防弹咖啡</span>
                                <span class="name">神器指数：⭐️⭐️⭐️⭐️⭐️</span>
                                <span class="name">💰100</span>

                            </a>
                        </li>

                        <li>
                            <a href="/">
                                <span class="thumb"><img src="http://img.muji.com.cn/img/item/4549738557876_400.jpg" width="50"></span>
                                <span class="name">牛排</span>
                                <span class="name">神器指数：⭐️⭐️⭐️⭐️</span>
                                <span class="name">💰100</span>
                            </a>
                        </li>

                        <li>
                            <a href="/">
                                <span class="thumb"><img src="http://img.muji.com.cn/img/item/4549738503521_400.jpg" width="50"></span>
                                <span class="name">牛排</span>
                                <span class="name">神器指数：⭐️⭐️⭐️⭐️</span>
                                <span class="name">💰100</span>
                            </a>
                        </li>

                        <li>
                            <a href="/">
                                <span class="thumb"><img src="http://img.muji.com.cn/img/item/4549738915324_400.jpg" width="50"></span>
                                <span class="name">牛排</span>
                                <span class="name">神器指数：⭐️⭐️⭐️⭐️</span>
                                <span class="name">💰100</span>
                            </a>
                        </li>

                        <li>
                            <a href="/">
                                <span class="thumb"><img src="http://img.muji.com.cn/img/item/4934761479927_400.jpg" width="50"></span>
                                <span class="name">牛排</span>
                                <span class="name">神器指数：⭐️⭐️⭐️⭐️</span>
                                <span class="name">💰100</span>
                            </a>
                        </li>

                        <li>
                            <a href="/">
                                <span class="thumb"><img src="http://img.muji.com.cn/img/item/4549738689126_400.jpg" width="50"></span>
                                <span class="name">牛蒡鸡肉饭煮饭酱</span>
                                <span class="name">神器指数：⭐️⭐️⭐️⭐️</span>
                                <span class="name">💰100</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </section>

            <section id="topicItem">
                <h1>科技众筹</h1>

                <div class="wrap">
                    <ul>

                        <li>
                            <a href="/">
                                <span class="thumb"><img src="http://img.muji.com.cn/img/item/4547315820665_400.jpg" width="50"></span>
                                <span class="name">空气净化器</span>
                                <span class="name">神器指数：⭐️⭐️⭐️⭐️</span>
                                <span class="name">💰100</span>
                            </a>
                        </li>

                        <li>
                            <a href="/">
                                <span class="thumb"><img src="http://img.muji.com.cn/img/item/4549738391210_400.jpg" width="50"></span>
                                <span class="name">棉法兰绒被套 170×210cm用 / 红色格纹</span>
                                <span class="name">神器指数：⭐️⭐️⭐️⭐️</span>
                                <span class="name">💰100</span>
                            </a>
                        </li>

                        <li>
                            <a href="/">
                                <span class="thumb"><img src="http://img.muji.com.cn/img/item/4548718920136_400.jpg" width="50"></span>
                                <span class="name">超声波香薰机 直径约80×高140mm / 白色</span>
                                <span class="name">神器指数：⭐️⭐️⭐️⭐️</span>
                                <span class="name">💰100</span>
                            </a>
                        </li>

                        <li>
                            <a href="/">
                                <span class="thumb"><img src="http://img.muji.com.cn/img/item/4549738265597_400.jpg" width="50"></span>
                                <span class="name">美利奴羊毛混双面大衣</span>
                                <span class="name">神器指数：⭐️⭐️⭐️⭐️</span>
                                <span class="name">💰100</span>
                            </a>
                        </li>

                        <li>
                            <a href="/">
                                <span class="thumb"><img src="http://img.muji.com.cn/img/item/4547315844449_400.jpg" width="50"></span>
                                <span class="name">携带用睫毛夹 全长约58mm</span>
                                <span class="name">神器指数：⭐️⭐️⭐️⭐️</span>
                                <span class="name">💰100</span>
                            </a>
                        </li>

                        <li>
                            <a href="/">
                                <span class="thumb"><img src="http://img.muji.com.cn/img/item/4549738664512_400.jpg" width="50"></span>
                                <span class="name">草莓牛奶巧克力</span>
                                <span class="name">神器指数：⭐️⭐️⭐️⭐️</span>
                                <span class="name">💰100</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </section>

            <section id="event">
                <h1>活动一览</h1>

                <div class="wrap">
                    <ul>

                        <li>
                            <a href="/">
                                <img src="/images/panel/atelier_640_161231.jpg" alt="">
                                <span class="title">推荐您的神器</span>
                            </a>
                        </li>

                        <li>
                            <a href="/">
                                <img src="/images/panel/idee_640.jpg" alt="">
                                <span class="title">神器评选</span>
                            </a>
                        </li>

                        <li>
                            <a href="/">
                                <img src="/images/panel/openmuji-sh755_640.jpg" alt="">
                                <span class="title">SHENQIKU 本月活动</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </section>

            <section id="information">
                <h1>新到信息</h1>

                <div class="more">
                    <a href="/">更多</a>
                </div>

            </section>

        </div>
        <!-- #main -->

        <aside id="misc">
            <div class="content">
                <ul class="sns">

                    <li class="weibo">
                        <a href="/" target="_blank"><img src="/images/misc_weibo.png" alt="weibo"></a>
                    </li>

                    <li class="wechat">
                        <a href="/" target="_blank"><img src="/images/misc_wechat.png" alt="wechat"></a>
                    </li>

                    <li class="douban">
                        <a href="/" target="_blank"><img src="/images/misc_douban.png" alt="douban"></a>
                    </li>

                </ul>


            </div>
        </aside>



        <script src="/cn/store/js/lib/modernizr.custom.47384.js"></script>
        <script src="/cn/store/js/lib/cssua.js"></script>
        <script src="/cn/store/js/lib/fastclick.js"></script>

        <script src="/cn/store/js/muji-1.0.js"></script>
        <script src="/cn/store/js/portal-2.0.js"></script>
        <script src="/cn/store/js/portal_cn.js"></script>

        <script>
            //FastClick
            if (cssua.ua.mobile) {
                $(function () {
                    var selectors = [
                        $("#hGlobalNav h1").get(0),
                        $("#hSearch h1").get(0),
                        $(".cancel").get(0),
                        $(".prev").get(0),
                        $(".next").get(0),
                        $(".avater").get(0)
                    ];

                    for (var i = 0, sLen = selectors.length; i < sLen; i++) {
                        if (selectors[i] != undefined) {
                            FastClick.attach(selectors[i]);
                        }
                    }
                });
            }
        </script>

        <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=18c2abab0deabc84cf240d2e1123f5a1"></script>
        <!--[if !IE]><!-->
        <script src="/cn/store/js/lib/map_cn.js"></script>
        <!--<![endif]-->

        <script>
            MAP_LIMIT_SHOPLIST = 10;/* Maximum number of stores list */
            MAP_LIMIT_MARKER = 100;/* Maximum number of stores placed on the map */
            MAP_IMG_MARKER = "/images/marker_red_default.png";
            MAP_IMG_SELF_POS = "/images/self_position.png";

            MAP_MARKER_LINK_URL = "http://www.muji.com/storelocator/?c=cn";
            MAP_SHOPLIST_JSON_URL = "http://www.muji.com/storelocator/?c=cn&lang=LC&baidu_flag=1&_ACTION=_SEARCH";

            MAP_DEFAULT_ZOOM = 8;
            MAP_DEFAULT_LAT = 39.921783;
            MAP_DEFAULT_LON = 116.440247;
            MAP_LOAD_DIV_ID = "map";
        </script>

        <script type="text/javascript">
            _satellite.pageBottom();
        </script>

    </body>

</html>
