<!-- <div class="row">
  <% @products.each do |product| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <%= product.title %> ￥<%= product.price %>
    </div>
  <% end %>
</div> -->

<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <meta property="og:url" content="http://www.muji.com/cn/">
        <meta property="og:image" content="http://www.muji.com/cn/img/ogimage.png">
        <meta name="description" content="在神器库，我们精心搜集了，那些流行于硅谷的生物黑科技食品、神器、科技众筹产品，以帮助您，提工作效率和生活品质。">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="robots" content="noydir,noodp">

        <title>防霾库</title>
        <link rel="stylesheet" href="/cn/store/css/normalize.css">
        <link rel="stylesheet" href="/cn/store/css/muji.2.1.css">
        <link rel="stylesheet" href="/cn/store/css/muji_cn.css">
        <link rel="stylesheet" href="/cn/store/css/muji_cn.2.0.css">
        <link rel="stylesheet" href="/cn/store/css/portal.1.0.css">
        <link rel="stylesheet" href="/cn/store/css/portal_cn.css">
        <link rel="stylesheet" href="/cn/store/css/marker.css">
        <link rel="stylesheet" href="/cn/store/css/self_marker.css">

        <script src="/cn/store/js/lib/jquery.min.1.11.0.js"></script>

        <!--[if lt IE 9]> <script src="/cn/store/js/lib/html5.js"></script> <script src="/cn/store/js/lib/respond.js"></script> <![endif]-->
        <script src="//assets.adobedtm.com/a6e9b8b912d51aecbc12256558ef49a48670b2e5/satelliteLib-9fa8fa56b87f6d219078e5bd7ee860df5977511f.js"></script>
        <meta name="google-site-verification" content="uuJ36II6toGyemYG32iDkK7S5iwki-LVe0XJytvliUA"/>
        <meta name="baidu-site-verification" content="IzCrHv6BWr"/>

    </head>

    <body>

        <div id="main">

            <section id="mainCampaign">
                <div class="wrap">
                    <div class="mainPanel">
                        <a href="/">
                            <img src="https://ww3.sinaimg.cn/large/006tNc79gy1fcspzv3z5uj30xp0l2gqi.jpg" alt="科技改变生活" class="pc">
                            <img src="https://ww4.sinaimg.cn/large/006tNc79ly1fcrhn6u42ej30qo0wzn9e.jpg" alt="科技改变生活" class="mobile">
                            <!--  <span class="title">屏息之美 净致之选</span> -->

                        </a>
                    </div>

                    <ul class="fourPanels">

                        <li>
                            <a href="/">
                                <img src="/images/panel/sale_640.png" alt="SALE">
                                <span class="title"></span>
                            </a>
                        </li>

                        <li>
                            <a href="/">
                                <img src="https://ww3.sinaimg.cn/large/006y8lVajw1fcmyzcyp7ej30hs0b4q44.jpg" alt="Compact  Life  in  CHINA">
                                <span class="title">生物黑科技食品</span>
                            </a>
                        </li>

                        <li>
                            <a href="/">
                                <img src="https://ww3.sinaimg.cn/large/006y8lVajw1fcmz7xi0otj30hs0b4gn6.jpg" alt="Aging skincare">
                                <span class="title">提高效率神器</span>
                            </a>
                        </li>

                        <li>
                            <a href="/">
                                <img src="https://ww4.sinaimg.cn/large/006tNc79jw1fcnsgixnjyj30hs0b4mz5.jpg" alt="I am MUJI.">
                                <span class="title">科技众筹产品</span>
                            </a>
                        </li>

                    </ul>
                </div>

                <div class="more">
                    <a href="/">更多</a>
                </div>

            </section>

            <section id="newItem">
                <h1>新到商品</h1>

                <div class="more">
                    <a href="/">更多</a>
                </div>

                <div class="wrap">
                    <ul>
                        <% if  @products.present? %>
                        <% @products.limit(5).order('created_at DESC').each do |product| %>
                        <li>
                            <%= link_to product_path(product) do %>
                            <% if product.image.present? %>
                            <span class="thumb"><%= image_tag(product.image.thumb.url)%></span>
                            <% else %>
                            <span class="thumb"><%= image_tag(product.image_path, class: "thumbnail") %>
                            </span>
                            <% end %>
                            <span class="name"><%=product.title%></span>
                            <span class="name">神器指数：⭐️⭐️⭐️⭐️⭐️</span>
                            <span class="name">￥
                                <%=product.price%></span>
                            <% end %>
                        </li>
                        <% end %>
                        <% end %>
                    </ul>
                </div>
            </section>

            <section id="newItem">
                <h1>神器</h1>

                <div class="more">
                    <a href="/">更多</a>
                </div>

                <div class="wrap">
                    <ul>
                        <% if  @products.present? %>
                        <% @products.order('created_at DESC').each do |product| %>
                        <% if  true == product.categories.eql?("神器")%>
                        <li>
                            <%= link_to product_path(product) do %>
                            <% if product.image.present? %>
                            <span class="thumb"><%= image_tag(product.image.thumb.url)%></span>
                        <% else %>
                            <span class="thumb"><%= image_tag(product.image_path, class: "thumbnail") %>
                            </span>
                            <% end %>
                            <span class="name"><%=product.title%></span>
                            <span class="name">神器指数：⭐️⭐️⭐️⭐️⭐️</span>
                            <span class="name">￥
                                <%=product.price%></span>
                            <% end %>
                        </li>
                        <% end %>
                        <% end %>
                        <% end %>
                    </ul>
                </div>
            </section>

            <section id="newItem">
                <h1>生物科技美食</h1>

                <div class="more">
                    <a href="/">更多</a>
                </div>

                <div class="wrap">
                    <ul>
                        <% if  @products.present? %>
                        <% @products.order('created_at DESC').each do |product| %>
                        <% if  true == product.categories.eql?("生物科技美食")%>
                        <li>
                            <%= link_to product_path(product) do %>
                            <% if product.image.present? %>
                            <span class="thumb"><%= image_tag(product.image.thumb.url)%></span>
                        <% else %>
                            <span class="thumb"><%= image_tag(product.image_path, class: "thumbnail") %>
                            </span>
                            <% end %>
                            <span class="name"><%=product.title%></span>
                            <span class="name">神器指数：⭐️⭐️⭐️⭐️⭐️</span>
                            <span class="name">￥
                                <%=product.price%></span>
                            <% end %>
                        </li>
                        <% end %>
                        <% end %>
                        <% end %>
                    </ul>
                </div>
            </section>

            <section id="topicItem">
                <h1>科技众筹产品</h1>

                <div class="wrap">
                    <ul>
                        <% if  @products.present? %>
                        <% @products.order('created_at DESC').each do |product| %>
                        <% if  true == product.categories.eql?("科技众筹产品")%>
                        <li>
                            <%= link_to product_path(product) do %>
                            <% if product.image.present? %>
                            <span class="thumb"><%= image_tag(product.image.thumb.url)%></span>
                        <% else %>
                            <span class="thumb"><%= image_tag(product.image_path, class: "thumbnail") %>
                            </span>
                            <% end %>
                            <span class="name"><%=product.title%></span>
                            <span class="name">神器指数：⭐️⭐️⭐️⭐️</span>
                            <span class="name">￥
                                <%=product.price%></span>
                            <% end %>
                        </li>
                        <% end %>
                        <% end %>
                        <% end %>
                    </ul>
                </div>
            </section>

            <section id="event">
                <h1>大神推荐</h1>

                <div class="wrap">
                    <ul>

                       <li>
                          <a href="/">
                              <img src="https://ww1.sinaimg.cn/large/006tNc79jw1fcnwfqwejwj30p00fjmzz.jpg" alt="">
                              <span class="title">Xdite推荐</span>
                          </a>
                       </li>

                        <li>
                            <a href="/">
                                <img src="https://ww3.sinaimg.cn/large/006tNc79jw1fcnwewcuyoj30hs0b4t9s.jpg" alt="">
                                <span class="title">笑来推荐</span>
                            </a>
                        </li>



                        <li>
                            <a href="/">
                                <img src="https://ww1.sinaimg.cn/large/006tNc79jw1fcnwicejmkj30hs0b4wfp.jpg" alt="">
                                <span class="title">罗胖推荐</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </section>

        </div>
        <!-- #main -->

        <aside id="misc">
            <div class="content">
                <ul class="sns">

                    <li class="weibo">
                        <a href="/" target="_blank"><img src="/images/misc_weibo.png" alt="weibo"></a>
                    </li>

                    <li class="wechat">
                        <a href="/" target="_blank"><img src="/images/misc_wechat.png" alt="wechat"></a>
                    </li>

                    <li class="douban">
                        <a href="/" target="_blank"><img src="/images/misc_douban.png" alt="douban"></a>
                    </li>

                </ul>

            </div>
        </aside>

        <script src="/cn/store/js/lib/modernizr.custom.47384.js"></script>
        <script src="/cn/store/js/lib/cssua.js"></script>
        <script src="/cn/store/js/lib/fastclick.js"></script>

        <script src="/cn/store/js/muji-1.0.js"></script>
        <script src="/cn/store/js/portal-2.0.js"></script>
        <script src="/cn/store/js/portal_cn.js"></script>

        <script>
            //FastClick
            if (cssua.ua.mobile) {
                $(function () {
                    var selectors = [
                        $("#hGlobalNav h1").get(0),
                        $("#hSearch h1").get(0),
                        $(".cancel").get(0),
                        $(".prev").get(0),
                        $(".next").get(0),
                        $(".avater").get(0)
                    ];

                    for (var i = 0, sLen = selectors.length; i < sLen; i++) {
                        if (selectors[i] != undefined) {
                            FastClick.attach(selectors[i]);
                        }
                    }
                });
            }
        </script>

        <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=18c2abab0deabc84cf240d2e1123f5a1"></script>
        <!--[if !IE]><!-->
        <script src="/cn/store/js/lib/map_cn.js"></script>
        <!--<![endif]-->

        <script>
            MAP_LIMIT_SHOPLIST = 10;/* Maximum number of stores list */
            MAP_LIMIT_MARKER = 100;/* Maximum number of stores placed on the map */
            MAP_IMG_MARKER = "/images/marker_red_default.png";
            MAP_IMG_SELF_POS = "/images/self_position.png";

            MAP_MARKER_LINK_URL = "http://www.muji.com/storelocator/?c=cn";
            MAP_SHOPLIST_JSON_URL = "http://www.muji.com/storelocator/?c=cn&lang=LC&baidu_flag=1&_ACTION=_SEARCH";

            MAP_DEFAULT_ZOOM = 8;
            MAP_DEFAULT_LAT = 39.921783;
            MAP_DEFAULT_LON = 116.440247;
            MAP_LOAD_DIV_ID = "map";
        </script>

        <script type="text/javascript">
            _satellite.pageBottom();
        </script>

    </body>

</html>
