<!doctype html>
<html lang="en">
    <!DOCTYPE html>
    <html lang="zh-CN">
        <head>
            <meta charset="UTF-8">
            <meta property="og:url" content="http://www.muji.com/cn/">
            <meta property="og:image" content="http://www.muji.com/cn/img/ogimage.png">
            <meta name="description" content="在防霾库，我们精心搜集了，高品质、专业、安全的产品。">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <meta name="robots" content="noydir,noodp">

            <title>防霾库</title>

            <style>
                .ititle {
                    text-align: center;

                }

                .carousel-indicators { background: none !important; }

                .carousel-indicators li {
                    border-color: #f4511e;
                    background: none !important;

                }
                .carousel-indicators li.active {
                    background-color: #f4511e;
                    background: none !important;
                }

            </style>

        </head>

        <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60" style:"padding: 0; margin:0;">

            <nav class="navbar navbar-default navbar-fixed-top" style="padding:0; ">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- <a class="navbar-brand" href="#myPage">防霾库</a> -->
                        <a href="/" class="navbar-brand">
                            <!-- <img src="https://ww4.sinaimg.cn/large/006tKfTcgy1fcuu6m92pkj308c033jru.jpg" alt="防霾库"/> -->
                            <img src="/images/air-logo.png" style="margin-top:-5px; width:70px;" alt="防霾库"/>
                        </a>
                    </div>

                    <div class="collapse navbar-collapse " id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="#product">精选商品</a>
                            </li>
                            <li>
                                <a href="#event">所有活动</a>
                            </li>
                            <li>
                                <a href="#about">关于我们</a>
                            </li>
                            <li><%= link_to(carts_path, method: :get) do  %>
                                购物车
                                <i class="fa fa-shopping-cart"></i>
                                (
                                <%= current_cart.products.count %>
                                )
                                <% end %>
                            </li>
                            <li>
                                <% if !current_user %>
                            <li><%= link_to(content_tag(:i,'注册',class: 'fa fa-user'), new_user_registration_path, method: :get)  %></li>
                            <li><%= link_to(content_tag(:i, '登入', class: 'fa fa-sign-in'), new_user_session_path, method: :get)  %></li>
                        <% else %>

                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Hi!,<%= current_user.email %>
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-left">

                                    <% if current_user.admin? %>
                                    <li>
                                        <%= link_to("Admin 选单", admin_products_path ) %>
                                    </li>
                                    <% end %>
                                    <li>
                                        <%= link_to("个人订单列表", account_orders_path ) %>
                                    </li>
                                    <!-- <li> <%= link_to("登出", destroy_user_session_path, method: :delete) %> </li> -->
                                    <li>
                                        <%= link_to(content_tag(:i, '登出', class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %>
                                    </li>
                                </ul>
                            </li>
                            <% end %>
                        </li>
                    </ul>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li id="hSearch" style="margin-top:10px; ">
                        <!-- <form action="/cn/store/FSC02210E01.do?qcategory=all&qicon=&qstart=0&sort=goods_disp_priority&fid=header_search&qtext="
                            id="headerSearch" method="get"> -->
                        <%= form_tag search_products_path, method: :get, class: 'questions-search-form'  do %>
                        <h1>产品搜索</h1>
                        <div class="wrapper">
                            <div class="cancel" style="text-align: left;">取消</div>
                            <!-- <input type="text" class="form-control" name="query_string" value="<%= params[:query_string] %>" placeholder="职位 种类 城市 区域..."> -->
                            <input type="search" placeholder="产品搜索" name="query_string" value="<%= params[:query_string] %>">
                        </div>
                        <!-- </form> -->
                        <% end %>

                    </li>
                </ul>

            </div>

        </nav>
        <!-- <div class="row">
  <% @products.each do |product| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <%= product.title %> ￥<%= product.price %>
    </div>
  <% end %>
</div> -->
       <%= render "common/flashes" %>

        <div id="main">

            <div id="mainCampaign">
                <div id="home" class="indoor_page_wrap" style="position:relative; ">

                    <div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000">
                        <!-- <div id="bootstrap-touch-slider" class="carousel slide" data-ride="carousel" data-interval="5000" style="background-image:none"> -->
                        <!-- Indicators -->
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
                            <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
                            <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
                            <li data-target="#bootstrap-touch-slider" data-slide-to="3"></li>
                            <li data-target="#bootstrap-touch-slider" data-slide-to="4"></li>
                        </ol>

                        <!-- Wrapper For Slides -->
                        <div class="carousel-inner" role="listbox">

                            <!-- 1st 布梨口罩 -->
                            <div class="item active">
                                <div class="tabs indoor-page">
                                    <ul class="clearfix tabs-list" style="margin-bottom:0">
                                        <li class="test">
                                            <!-- <img src="images/air-indoor-design.jpg" class="bg"/> -->
                                            <img src="/images/home_1.jpg" alt="科技改变生活" class="pc">
                                            <!-- <em class="slideInDown animated">
                                <img src="images/air-indoor-design-text.png" width="349" height="279" />
                            </em> -->

                                        </li>
                                    </ul>
                                </div>
                                <a class="prev" href="#bootstrap-touch-slider" role="button" data-slide="prev"></a>
                                <a class="next" href="#bootstrap-touch-slider" role="button" data-slide="next"></a>
                            </div>

                            <!-- 2nd 防霾库 -->
                            <div class="item">
                                <div class="tabs indoor-page">
                                    <ul class="clearfix tabs-list" style="margin-bottom:0">
                                        <li class="test">
                                            <!-- <img src="images/air-indoor-test.jpg" class="pc" /> -->
                                            <img src="/images/home_2.jpg" class="pc"/>
                                            <dl class="rollIn animated">
                                                <dt>
                                                    <img src="images/air-indoor-test-slogin.png" alt="" width="330" height="168"/>
                                                </dt>
                                                <dd class="line">&nbsp;</dd>
                                                <dd class="t">
                                                    <img src="images/air-indoor-test-t.png" alt="" width="330" height="65"/>
                                                </dd>
                                            </dl>
                                        </li>
                                    </ul>

                                    <a class="prev" href="#bootstrap-touch-slider" role="button" data-slide="prev"></a>
                                    <a class="next" href="#bootstrap-touch-slider" role="button" data-slide="next"></a>
                                </div>
                            </div>

                            <!-- 3rd blue-air -->
                            <div class="item">
                                <div class="tabs indoor-page">
                                    <ul class="clearfix tabs-list" style="margin-bottom:0">
                                        <li class="machine">
                                            <!-- <img src="https://ww3.sinaimg.cn/large/006tNc79ly1fcrhn4in8uj30sg0hsdm1.jpg" class="bg" /> -->
                                            <!-- <img  src="https://ww3.sinaimg.cn/large/006tNbRwgy1fcuwh49zqoj31kw0v3x6p.jpg" class="pc"/> -->

                                            <img src="images/mask.jpg" class="pc"/>
                                            <!-- <dl class="bounceIn animated">
                                                <dt>
                                                    <img src="images/air-indoor-machine-slogin.png" alt="" width="419" height="46"/>
                                                </dt>
                                                <dd class="line">&nbsp;</dd>
                                                <dd class="text">
                                                    <img src="images/air-indoor-machine-text.png" alt="" width="419" height="58"/>
                                                </dd>
                                            </dl> -->
                                        </li>
                                    </ul>

                                    <a class="prev" href="#bootstrap-touch-slider" role="button" data-slide="prev"></a>
                                    <a class="next" href="#bootstrap-touch-slider" role="button" data-slide="next"></a>
                                </div>
                            </div>

                            <!-- 4th -->
                            <div class="item">
                                <div class="tabs indoor-page">
                                    <ul class="clearfix tabs-list" style="margin-bottom:0">
                                        <li class="warmth">
                                            <!-- <img src="https://ww3.sinaimg.cn/large/006tKfTcly1fcttwli1eaj30ly0dqgmr.jpg" class="bg" /> -->
                                            <img src="images/air-indoor-warmth.jpg" class="pc"/>
                                            <dl class="swing animated">
                                                <dt>
                                                    <img src="images/air-indoor-warmth-air.png" alt=""/>
                                                </dt>
                                                <dd class="slogin">
                                                    <img src="images/air-indoor-warmth-slogin.png" alt=""/>
                                                </dd>
                                            </dl>
                                        </li>
                                    </ul>

                                    <a class="prev" href="#bootstrap-touch-slider" role="button" data-slide="prev"></a>
                                    <a class="next" href="#bootstrap-touch-slider" role="button" data-slide="next"></a>
                                </div>
                            </div>

                            <!-- 5th -->
                            <div class="item">
                                <div class="tabs indoor-page">
                                    <ul class="clearfix tabs-list" style="margin-bottom:0">
                                        <li class="look">
                                            <img src="images/air-indoor-look.jpg" class="pc"/>
                                            <dl class="bounceInRight animated">
                                                <dt>
                                                    <img src="images/air-indoor-look-slogin.png" alt="" width="265" height="136"/>
                                                </dt>
                                                <dd class="line">&nbsp;</dd>
                                                <dd class="text">
                                                    <img src="images/air-indoor-look-text.png" alt="" width="265" height="62"/>
                                                </dd>
                                            </dl>
                                            <div class="bounceInLeft animated">
                                                <img src="images/air-indoor-look-m.png" alt="" width="235" height="417"/>
                                            </div>
                                        </li>
                                    </ul>

                                    <a class="prev" href="#bootstrap-touch-slider" role="button" data-slide="prev"></a>
                                    <a class="next" href="#bootstrap-touch-slider" role="button" data-slide="next"></a>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <!-- <ul>

                        <li>
                            <a href="/">
                                <img src="/images/panel/sale_640.png" alt="SALE">
                                <span class="title"></span>
                            </a>
                        </li>

                        <li>
                            <a href="/">
                                <img src="https://ww3.sinaimg.cn/large/006y8lVajw1fcmyzcyp7ej30hs0b4q44.jpg" alt="Compact  Life  in  CHINA">
                                <span class="title">生物黑科技食品</span>
                            </a>
                        </li>

                        <li>
                            <a href="/">
                                <img src="https://ww3.sinaimg.cn/large/006y8lVajw1fcmz7xi0otj30hs0b4gn6.jpg" alt="Aging skincare">
                                <span class="title">提高效率神器</span>
                            </a>
                        </li>

                        <li>
                            <a href="/">
                                <img src="https://ww4.sinaimg.cn/large/006tNc79jw1fcnsgixnjyj30hs0b4mz5.jpg" alt="I am MUJI.">
                                <span class="title">科技众筹产品</span>
                            </a>
                        </li>

                    </ul>
                </div>

                <div class="more">
                    <a href="/">更多</a>
                </div> -->

            </div>

            <section id="product" style="margin:15px; height:20px;">
                <br>
                <br>
            </section>

            <section id="newItem" style="margin-top:15px">
                <h1 style="padding-top:30px;">新到商品</h1>

                <div class="more">
                    <%= link_to("更多", search_products_path(:order => "created_at", :query_string => ""), method: :get) %>
                </div>



                    <div class="wrap">
                        <ul>
                            <% if  @products.present? %>
                            <% @products.limit(4).order('created_at DESC').each do |product| %>
                            <li>
                                <dl class="info">
                                    <%= link_to product_path(product) do %>
                                    <% if product.image.present? %>
                                    <dt class="thumb">
                                        <%= image_tag(product.image.thumb.url)%>
                                    </dt>
                                <% else %>
                                    <dt class="thumb">
                                        <%= image_tag(product.image_path, class: "thumb") %>
                                    </dt>
                                    <% end %>
                                    <br>
                                    <dd class="name" style="text-align:center;"><%=product.title%></dd>
                                    <% end %>
                                    <%= link_to product_path(product) do %>
                                    <% if product.is_discounted %>
                                    <dd class="tag">
                                        <div class="tag sale" style="font-size: 11px; color:#7f0019; text-align:center;">限时特价商品</div>
                                    </dd>
                                    <dd class="price" style="text-align:center;">
                                        <del>
                                            <span class="num">￥<%=product.original_price%></span>
                                        </del>
                                        <ins>
                                            <span class="num">￥<%=product.price%></span>
                                        </ins>
                                    </dd>
                                    <% else %>
                                    <dd class="price" style="text-align:center;">
                                        <ins>
                                            <span class="num">￥<%=product.price%></span>
                                        </ins>
                                    </dd>
                                    <% end %>
                                    <% end %>
                                </dl>
                            </li>
                            <% end %>
                            <% end %>
                        </ul>
                    </div>

            </section>

            <section id="newItem">
                <h1>防霾口罩</h1>

                <div class="more">
                    <%= link_to("更多", search_products_path(:order => "created_at", :query_string => "防霾口罩"), method: :get) %>
                </div>

                <div class="wrap">
                    <ul>
                        <% if  @products.present? %>
                        <% @products.order('created_at DESC').each do |product| %>
                        <% if  true == product.categories.eql?("防霾口罩")%>
                        <li>
                            <dl class="info">
                                <%= link_to product_path(product) do %>
                                <% if product.image.present? %>
                                <dt class="thumb">
                                    <%= image_tag(product.image.thumb.url)%>
                                </dt>
                            <% else %>
                                <dt class="thumb">
                                    <%= image_tag(product.image_path, class: "thumb") %>
                                </dt>
                                <% end %>
                                <br>
                                <dd class="name" style="text-align:center;"><%=product.title%></dd>
                                <% end %>
                                <%= link_to product_path(product) do %>
                                <% if product.is_discounted %>
                                <dd class="tag">
                                    <div class="tag sale" style="font-size: 11px; color:#7f0019; text-align:center;">限时特价商品</div>
                                </dd>
                                <dd class="price" style="text-align:center;">
                                    <del>
                                        <span class="num">￥<%=product.original_price%></span>
                                    </del>
                                    <ins>
                                        <span class="num">￥<%=product.price%></span>
                                    </ins>
                                </dd>
                                <% else %>
                                <dd class="price" style="text-align:center;">
                                    <ins>
                                        <span class="num">￥<%=product.price%></span>
                                    </ins>
                                </dd>
                                <% end %>
                                <% end %>
                            </dl>
                        </li>
                        <% end %>
                        <% end %>
                        <% end %>
                    </ul>
                </div>

            </section>

            <div id="products">

                <section id="newItem">
                    <h1>霾表</h1>

                    <div class="more">
                        <%= link_to("更多", search_products_path(:order => "created_at", :query_string => "霾表"), method: :get) %>
                    </div>
                    <div class="wrap">
                        <ul class="fourPanels">
                            <% if  @products.present? %>
                            <% @products.order('created_at DESC').each do |product| %>
                            <% if  true == product.categories.eql?("霾表")%>
                            <li>
                                <dl class="info">
                                    <%= link_to product_path(product) do %>
                                    <% if product.image.present? %>
                                    <dt class="thumb">
                                        <%= image_tag(product.image.thumb.url)%>
                                    </dt>
                                <% else %>
                                    <dt class="thumb">
                                        <%= image_tag(product.image_path, class: "thumb") %>
                                    </dt>
                                    <% end %>
                                    <br>
                                    <dd class="name" style="text-align:center;"><%=product.title%></dd>
                                    <% end %>
                                    <%= link_to product_path(product) do %>
                                    <% if product.is_discounted %>
                                    <dd class="tag">
                                        <div class="tag sale" style="font-size: 11px; color:#7f0019; text-align:center;">限时特价商品</div>
                                    </dd>
                                    <dd class="price" style="text-align:center;">
                                        <del>
                                            <span class="num">￥<%=product.original_price%></span>
                                        </del>
                                        <ins>
                                            <span class="num">￥<%=product.price%></span>
                                        </ins>
                                    </dd>
                                    <% else %>
                                    <dd class="price" style="text-align:center;">
                                        <ins>
                                            <span class="num">￥<%=product.price%></span>
                                        </ins>
                                    </dd>
                                    <% end %>
                                    <% end %>
                                </dl>
                            </li>
                            <% end %>
                            <% end %>
                            <% end %>
                        </ul>
                    </div>

                </section>

                <section id="newItem">
                    <h1>空气净化</h1>
                    <div class="more">
                        <%= link_to("更多", search_products_path(:order => "created_at", :query_string => "空气净化器"), method: :get) %>
                    </div>
                    <div class="wrap">
                        <ul>
                            <% if  @products.present? %>
                            <% @products.order('created_at DESC').each do |product| %>
                            <% if  true == product.categories.eql?("空气净化器")%>
                            <li>
                                <dl class="info">
                                    <%= link_to product_path(product) do %>
                                    <% if product.image.present? %>
                                    <dt class="thumb">
                                        <%= image_tag(product.image.thumb.url)%>
                                    </dt>
                                <% else %>
                                    <dt class="thumb">
                                        <%= image_tag(product.image_path, class: "thumb") %>
                                    </dt>
                                    <% end %>
                                    <br>
                                    <dd class="name" style="text-align:center;"><%=product.title%></dd>
                                    <% end %>
                                    <%= link_to product_path(product) do %>
                                    <% if product.is_discounted %>
                                    <dd class="tag">
                                        <div class="tag sale" style="font-size: 11px; color:#7f0019; text-align:center;">限时特价商品</div>
                                    </dd>
                                    <dd class="price" style="text-align:center;">
                                        <del>
                                            <span class="num">￥<%=product.original_price%></span>
                                        </del>
                                        <ins>
                                            <span class="num">￥<%=product.price%></span>
                                        </ins>
                                    </dd>
                                    <% else %>
                                    <dd class="price" style="text-align:center;">
                                        <ins>
                                            <span class="num">￥<%=product.price%></span>
                                        </ins>
                                    </dd>
                                    <% end %>
                                    <% end %>
                                </dl>
                            </li>
                            <% end %>
                            <% end %>
                            <% end %>
                        </ul>
                    </div>

                </section>

                <section id="newItem">
                    <h1>科技众筹</h1>

                    <div class="more">
                        <%= link_to("更多", search_products_path(:order => "created_at", :query_string => "科技众筹"), method: :get) %>
                    </div>

                    <div class="wrap">
                        <ul>
                            <% if  @products.present? %>
                            <% @products.order('created_at DESC').each do |product| %>
                            <% if  true == product.categories.eql?("科技众筹")%>
                            <li>
                                <dl class="info">
                                    <%= link_to product_path(product) do %>
                                    <% if product.image.present? %>
                                    <dt class="thumb">
                                        <%= image_tag(product.image.thumb.url)%>
                                    </dt>
                                <% else %>
                                    <dt class="thumb">
                                        <%= image_tag(product.image_path, class: "thumb") %>
                                    </dt>
                                    <% end %>
                                    <br>
                                    <dd class="name" style="text-align:center;"><%=product.title%></dd>
                                    <% end %>
                                    <%= link_to product_path(product) do %>
                                    <% if product.is_discounted %>
                                    <dd class="tag">
                                        <div class="tag sale" style="font-size: 11px; color:#7f0019; text-align:center;">限时特价商品</div>
                                    </dd>
                                    <dd class="price" style="text-align:center;">
                                        <del>
                                            <span class="num">￥<%=product.original_price%></span>
                                        </del>
                                        <ins>
                                            <span class="num">￥<%=product.price%></span>
                                        </ins>
                                    </dd>
                                    <% else %>
                                    <dd class="price" style="text-align:center;">
                                        <ins>
                                            <span class="num">￥<%=product.price%></span>
                                        </ins>
                                    </dd>
                                    <% end %>
                                    <% end %>
                                </dl>
                            </li>
                            <% end %>
                            <% end %>
                            <% end %>
                        </ul>
                    </div>

                </section>

                <section id="product" style="margin:15px; height:20px;">
                    <br>
                    <br>
                </section>

                <section id="event">
                    <h1>活动一览</h1>

                    <div class="wrap">
                        <ul>

                            <li>
                                <%= link_to search_products_path(:order => "created_at", :query_string => "discounted") do%>
                                    <img src="images/panel/openmuji-sh755_640.jpg">
                                    <span class="title">优惠活动</span>
                                <% end %>
                            </li>

                            <li>
                                <a href="/">
                                    <img src="images/panel/lab_140430_01.jpg">
                                    <span class="title">使用攻略</span>
                                </a>
                            </li>

                            <li>
                                <%= link_to health_path do %>
                                    <img src="images/panel/lab_140521_01.jpg">
                                    <span class="title">健康贴士</span>
                                <% end %>
                            </li>

                        </ul>
                    </div>
                </section>

                <section id="product" style="margin:15px; height:20px;">
                    <br>
                    <br>
                </section>

                <section id="about" style="background-color: #1D79B5; ">
                    <div class="wrap">
                        <div class="row">
                            <div class="col-sm-8" style="margin: 25px 0;">
                                <br>
                                <br>
                                <h4 style="text-align: center; color: #fff;">Coco：防霾运动口罩，让您雾霾天也能健康跑！</h4>
                                <p style="color: #fff;">本人马拉松新手一枚，五次半马。最棒的一次体验是在崇明森林公园，那清新舒爽的空气沁人心脾，每一口呼吸都是跑马者的最佳伴侣。<strong>但日趋严重的雾霾天气是跑步爱好者最大的天敌，严重影响着跑者前进的步伐，和小伙伴创办防霾库，希望众筹——防霾运动口罩，解决这一痛点。</strong>生命不息、跑步不止，保护好自己，让我们一起健康地跑下去！</p>
                                <h5 style="color: #fff;">微信号：cococardry</h5>
                                <h5 style="color: #fff;">微信公众号：BeingIt</h5>
                                <!-- <button class="btn btn-default btn-lg">Get in Touch</button> -->
                            </div>
                            <div class="col-sm-4" style="margin: 25px 0;">
                                <img src="images/coco.jpg" class="img-circle" alt="coco" style="width=25px;">
                            </div>
                        </div>
                    </div>

                    <div class="wrap bg-grey">
                        <div class="row">
                            <div class="col-sm-4" style="margin: 25px 0;">
                              <img src="images/elz.jpg" class="img-circle" alt="elz" width="70" height="70">
                            </div>
                            <div class="col-sm-8" style="margin: 25px 0;">
                              <br>
                              <br>
                                <h4 style="text-align: center;  color: #fff;">Eliza：不想离开北上广，防霾库为您提供安全防霾方案</h4>
                                <p style="color: #fff;">
                                    十五年前的北京、上海，天空像透明的蓝玻璃。而现在，雾霾天常常伸手不见五指。好友的儿子14年冬天出生，雾霾正猛。小朋友双满月，大人抱出去透透气，就患了肺炎。医生说，雾霾是罪魁祸首。看着小朋友做雾化时，各种哭，连我这个阿姨都心疼万分。<strong>我们不想离开北上广，但要保护好自己和家人。这是我创办防霾库的初衷。为您和家人提供——全套防霾方案，让呼吸更安全，更健康。</strong></p>
                                <h4 style="color: #fff;">微信号：elizaBerylChen</h4>
                                <h5 style="color: #fff;">微信公众号：爱莉莎的雪月花</h5>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
            <!-- #main -->

            <aside id="misc">
                <div class="content">
                    <ul class="sns">

                        <li class="weibo">
                            <a href="/" target="_blank"><img src="/images/misc_weibo.png" alt="weibo"></a>
                        </li>

                        <li class="wechat">
                            <a href="/" target="_blank"><img src="/images/misc_wechat.png" alt="wechat"></a>
                        </li>

                        <li class="douban">
                            <a href="/" target="_blank"><img src="/images/misc_douban.png" alt="douban"></a>
                        </li>

                    </ul>

                </div>
            </aside>



            <div class="container-fluid text-center">
              <br>
              <br>
                <a href="#myPage" title="To Top">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </a>
            </div>

            <script>
                //FastClick
                if (cssua.ua.mobile) {
                    $(function () {
                        var selectors = [
                            $("#hGlobalNav h1").get(0),
                            $("#hSearch h1").get(0),
                            $(".cancel").get(0),
                            $(".prev").get(0),
                            $(".next").get(0),
                            $(".avater").get(0)
                        ];

                        for (var i = 0, sLen = selectors.length; i < sLen; i++) {
                            if (selectors[i] != undefined) {
                                FastClick.attach(selectors[i]);
                            }
                        }
                    });
                }
            </script>

            <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=18c2abab0deabc84cf240d2e1123f5a1"></script>

            <script>
                MAP_LIMIT_SHOPLIST = 10;/* Maximum number of stores list */
                MAP_LIMIT_MARKER = 100;/* Maximum number of stores placed on the map */
                MAP_IMG_MARKER = "/images/marker_red_default.png";
                MAP_IMG_SELF_POS = "/images/self_position.png";

                MAP_MARKER_LINK_URL = "http://www.muji.com/storelocator/?c=cn";
                MAP_SHOPLIST_JSON_URL = "http://www.muji.com/storelocator/?c=cn&lang=LC&baidu_flag=1&_ACTION=_SEARCH";

                MAP_DEFAULT_ZOOM = 8;
                MAP_DEFAULT_LAT = 39.921783;
                MAP_DEFAULT_LON = 116.440247;
                MAP_LOAD_DIV_ID = "map";
            </script>

            <script type="text/javascript">
                _satellite.pageBottom();
            </script>

            <!-- jQuery -->
            <!-- Script to Activate the Carousel -->
            <script>
                $('.carousel').carousel({
                    interval: 5000 //changes the speed
                })
                $('#bootstrap-touch-slider').bsTouchSlider();
            </script>

            <script>
                $(document).ready(function () {
                    $('.material-button-toggle').click(function () {
                        $(this).toggleClass('open');
                        $('.option').toggleClass('scale-on');
                    });
                });
            </script>

            <script>
                $(document).ready(function () {
                    // Add smooth scrolling to all links in navbar + footer link
                    $(".navbar a, footer a[href='#myPage']").on('click', function (event) {

                        // Prevent default anchor click behavior
                        event.preventDefault();

                        // Store hash
                        var hash = this.hash;

                        // Using jQuery's animate() method to add smooth page scroll The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                        $('html, body').animate({
                            scrollTop: $(hash).offset().top
                        }, 900, function () {

                            // Add hash (#) to URL when done scrolling (default click behavior)
                            window.location.hash = hash;
                        });
                    });

                    // Slide in elements on scroll
                    $(window).scroll(function () {
                        $(".slideanim").each(function () {
                            var pos = $(this).offset().top;

                            var winTop = $(window).scrollTop();
                            if (pos < winTop + 600) {
                                $(this).addClass("slide");
                            }
                        });
                    });

                    var w = $(window).width();
                    if (w < 1200) {
                        $("#hSearch").hide();
                        $("#hSearch .wrapper").show();
                    }else{ $("#hSearch").show();}
                })
            </script>


        </body>

    </html>
