<!doctype html>
<html lang="en">
    <!DOCTYPE html>
    <html lang="zh-CN">
        <head>
            <meta charset="UTF-8">
            <meta property="og:url" content="http://www.muji.com/cn/">
            <meta property="og:image" content="http://www.muji.com/cn/img/ogimage.png">
            <meta name="description" content="在防霾库，我们精心搜集了，高品质、专业、安全的产品。">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <meta name="robots" content="noydir,noodp">

            <title>防霾库</title>

            <style>
                .ititle {
                    text-align: center;

                }

            </style>
        </head>

        <body>
            <div class="indoor_page_wrap">

                <div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000">

                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
                        <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
                        <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
                        <li data-target="#bootstrap-touch-slider" data-slide-to="3"></li>
                        <li data-target="#bootstrap-touch-slider" data-slide-to="4"></li>
                    </ol>

                    <!-- Wrapper For Slides -->
                    <div class="carousel-inner" role="listbox">

                        <!-- 1st 布梨口罩 -->
                        <div class="item active">
                            <section class="tabs indoor-page">
                                <ul class="clearfix tabs-list">
                                    <li class="design">
                                        <!-- <img src="images/air-indoor-design.jpg" class="bg"/> -->
                                        <img src="https://ww4.sinaimg.cn/large/006tNc79ly1fcttsjyrucj318g0rswnn.jpg" alt="科技改变生活" class="pc">
                                        <img src="https://ww4.sinaimg.cn/large/006tNc79ly1fcrhn6u42ej30qo0wzn9e.jpg" alt="科技改变生活" class="mobile">
                                        <!-- <em class="slideInDown animated">
                  <img src="images/air-indoor-design-text.png" width="349" height="279" />
              </em> -->
                                    </li>
                                </ul>
                            </section>
                            <a class="prev" href="#bootstrap-touch-slider" role="button" data-slide="prev"></a>
                            <a class="next" href="#bootstrap-touch-slider" role="button" data-slide="next"></a>
                        </div>

                        <!-- 2nd 防霾库 -->
                        <div class="item">
                            <section class="tabs indoor-page">
                                <ul class="clearfix tabs-list">
                                    <li class="test">
                                        <!-- <img src="images/air-indoor-test.jpg" class="bg" /> -->
                                        <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fcuwhutj6gj31kw0v44jg.jpg" class="bg"/>
                                        <dl class="rollIn animated">
                                            <dt>
                                                <img src="images/air-indoor-test-slogin.png" alt="" width="330" height="168"/>
                                            </dt>
                                            <dd class="line">&nbsp;</dd>
                                            <dd class="t">
                                                <img src="images/air-indoor-test-t.png" alt="" width="330" height="65"/>
                                            </dd>
                                        </dl>
                                    </li>
                                </ul>

                                <div class="num">
                                    <ul class="clearfix"></ul>
                                </div>
                                <a class="prev" href="#bootstrap-touch-slider" role="button" data-slide="prev"></a>
                                <a class="next" href="#bootstrap-touch-slider" role="button" data-slide="next"></a>
                            </section>
                        </div>

                        <!-- 3rd blue-air -->
                        <div class="item">
                            <section class="tabs indoor-page">
                                <ul class="clearfix tabs-list">
                                    <li class="machine">
                                        <!-- <img src="https://ww3.sinaimg.cn/large/006tNc79ly1fcrhn4in8uj30sg0hsdm1.jpg" class="bg" /> -->
                                        <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1fcuwh49zqoj31kw0v3x6p.jpg" class="bg"/>
                                        <dl class="bounceIn animated">
                                            <dt>
                                                <img src="images/air-indoor-machine-slogin.png" alt="" width="419" height="46"/>
                                            </dt>
                                            <dd class="line">&nbsp;</dd>
                                            <dd class="text">
                                                <img src="images/air-indoor-machine-text.png" alt="" width="419" height="58"/>
                                            </dd>
                                        </dl>
                                    </li>
                                </ul>

                                <div class="num">
                                    <ul class="clearfix"></ul>
                                </div>
                                <a class="prev" href="#bootstrap-touch-slider" role="button" data-slide="prev"></a>
                                <a class="next" href="#bootstrap-touch-slider" role="button" data-slide="next"></a>
                            </section>
                        </div>

                        <!-- 4th -->
                        <div class="item">
                            <section class="tabs indoor-page">
                                <ul class="clearfix tabs-list">
                                    <li class="warmth">
                                        <!-- <img src="https://ww3.sinaimg.cn/large/006tKfTcly1fcttwli1eaj30ly0dqgmr.jpg" class="bg" /> -->
                                        <img src="images/air-indoor-warmth.jpg" class="bg"/>
                                        <dl class="swing animated">
                                            <dt>
                                                <img src="images/air-indoor-warmth-air.png" alt=""/>
                                            </dt>
                                            <dd class="slogin">
                                                <img src="images/air-indoor-warmth-slogin.png" alt=""/>
                                            </dd>
                                            <dd class="line">&nbsp;</dd>
                                            <dd class="text">
                                                <img src="images/air-indoor-warmth-text.png" alt=""/>
                                            </dd>
                                        </dl>
                                        <em class="slideInDown animated">
                                            <img src="images/air-indoor-design-text.png" width="349" height="279"/>
                                        </em>
                                    </li>
                                </ul>

                                <div class="num">
                                    <ul class="clearfix"></ul>
                                </div>
                                <a class="prev" href="#bootstrap-touch-slider" role="button" data-slide="prev"></a>
                                <a class="next" href="#bootstrap-touch-slider" role="button" data-slide="next"></a>
                            </section>
                        </div>

                        <!-- 5th -->
                        <div class="item">
                            <section class="tabs indoor-page">
                                <ul class="clearfix tabs-list">
                                    <li class="look">
                                        <img src="images/air-indoor-look.jpg" class="bg"/>
                                        <dl class="bounceInRight animated">
                                            <dt>
                                                <img src="images/air-indoor-look-slogin.png" alt="" width="265" height="136"/>
                                            </dt>
                                            <dd class="line">&nbsp;</dd>
                                            <dd class="text">
                                                <img src="images/air-indoor-look-text.png" alt="" width="265" height="62"/>
                                            </dd>
                                        </dl>
                                        <div class="bounceInLeft animated">
                                            <img src="images/air-indoor-look-m.png" alt="" width="235" height="417"/>
                                        </div>
                                    </li>
                                </ul>

                                <div class="num">
                                    <ul class="clearfix"></ul>
                                </div>
                                <a class="prev" href="#bootstrap-touch-slider" role="button" data-slide="prev"></a>
                                <a class="next" href="#bootstrap-touch-slider" role="button" data-slide="next"></a>
                            </section>
                        </div>

                    </div>

                </div>

            </div>

            <!-- <div class="row">
  <% @products.each do |product| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <%= product.title %> ￥<%= product.price %>
    </div>
  <% end %>
</div> -->

            <div id="main">

                <section id="mainCampaign">
                    <div class="wrap">
                        <div class="mainPanel" style="margin-bottom:200px;">
                            <a href="/">
                                <img src="images/bg.png" class="pc">
                                <img src="images/bg.png" class="mobile">
                                <!--  <span class="title">屏息之美 净致之选</span> -->
                            </a>
                        </div>

                        <!-- <ul>

                        <li>
                            <a href="/">
                                <img src="/images/panel/sale_640.png" alt="SALE">
                                <span class="title"></span>
                            </a>
                        </li>

                        <li>
                            <a href="/">
                                <img src="https://ww3.sinaimg.cn/large/006y8lVajw1fcmyzcyp7ej30hs0b4q44.jpg" alt="Compact  Life  in  CHINA">
                                <span class="title">生物黑科技食品</span>
                            </a>
                        </li>

                        <li>
                            <a href="/">
                                <img src="https://ww3.sinaimg.cn/large/006y8lVajw1fcmz7xi0otj30hs0b4gn6.jpg" alt="Aging skincare">
                                <span class="title">提高效率神器</span>
                            </a>
                        </li>

                        <li>
                            <a href="/">
                                <img src="https://ww4.sinaimg.cn/large/006tNc79jw1fcnsgixnjyj30hs0b4mz5.jpg" alt="I am MUJI.">
                                <span class="title">科技众筹产品</span>
                            </a>
                        </li>

                    </ul>
                </div>

                <div class="more">
                    <a href="/">更多</a>
                </div> -->

                    </section>

                    <section id="newItem">
                        <h1 style="padding-top:30px;">新到商品</h1>

                        <div class="more">
                            <%= link_to("更多", search_products_path(:order => "created_at", :query_string => ""), method: :get) %>
                        </div>

                        <div class="wrap">
                            <ul>
                                <% if  @products.present? %>
                                <% @products.limit(4).order('created_at DESC').each do |product| %>
                                <li style="">
                                    <%= link_to product_path(product) do %>
                                    <% if product.image.present? %>
                                    <span class="thumb"><%= image_tag(product.image.thumb.url)%></span>
                                <% else %>
                                    <span class=""><%= image_tag(product.image_path, class: "thumb") %>
                                    </span>
                                    <% end %>
                                    <br>
                                    <div class="" style="text-align:center;"><%=product.title%></div>
                                    <div class="" style="text-align:center;">￥<%=product.price%></div>
                                    <% end %>
                                </li>
                                <% end %>
                                <% end %>
                            </ul>
                        </div>

                    </section>

                    <section id="newItem">
                        <h1>防霾口罩</h1>

                        <div class="more">
                            <%= link_to("更多", search_products_path(:order => "created_at", :query_string => "防霾口罩"), method: :get) %>
                        </div>

                        <div class="wrap">
                            <ul>
                                <% if  @products.present? %>
                                <% @products.order('created_at DESC').each do |product| %>
                                <% if  true == product.categories.eql?("防霾口罩")%>
                                <li>
                                    <%= link_to product_path(product) do %>
                                    <% if product.image.present? %>
                                    <span class="thumb"><%= image_tag(product.image.thumb.url)%></span>
                                <% else %>
                                    <span class="thumb"><%= image_tag(product.image_path, class: "") %>
                                    </span>
                                    <% end %>
                                    <br>
                                    <div class="" style="text-align:center;"><%=product.title%></div>
                                    <div class="" style="text-align:center;">￥<%=product.price%></div>
                                    <% end %>
                                </li>
                                <% end %>
                                <% end %>
                                <% end %>
                            </ul>
                        </div>

                    </section>

                    <section id="newItem">
                        <h1>霾表</h1>

                        <div class="more">
                            <%= link_to("更多", search_products_path(:order => "created_at", :query_string => "霾表"), method: :get) %>
                        </div>
                        <div class="wrap">
                            <ul class="fourPanels">
                                <% if  @products.present? %>
                                <% @products.order('created_at DESC').each do |product| %>
                                <% if  true == product.categories.eql?("霾表")%>
                                <li>
                                    <%= link_to product_path(product) do %>
                                    <% if product.image.present? %>
                                    <span class="thumb"><%= image_tag(product.image.thumb.url)%></span>
                                <% else %>
                                    <span class="thumb"><%= image_tag(product.image_path, class: "") %>
                                    </span>
                                    <% end %>
                                    <br>
                                    <div class="" style="text-align:center;"><%=product.title%></div>
                                    <div class="" style="text-align:center;">￥<%=product.price%></div>

                                    <% end %>
                                </li>
                                <% end %>
                                <% end %>
                                <% end %>
                            </ul>
                        </div>

                    </section>

                    <section id="newItem">
                        <h1>空气净化</h1>
                        <div class="more">
                            <%= link_to("更多", search_products_path(:order => "created_at", :query_string => "空气净化器"), method: :get) %>
                        </div>
                        <div class="wrap">
                            <ul>
                                <% if  @products.present? %>
                                <% @products.order('created_at DESC').each do |product| %>
                                <% if  true == product.categories.eql?("空气净化器")%>
                                <li>
                                    <%= link_to product_path(product) do %>
                                    <% if product.image.present? %>
                                    <span class="thumb"><%= image_tag(product.image.thumb.url)%></span>
                                <% else %>
                                    <span class="thumb"><%= image_tag(product.image_path, class: "") %>
                                    </span>
                                    <% end %>
                                    <br>
                                    <div class="" style="text-align:center;"><%=product.title%></div>
                                    <div class="" style="text-align:center;">￥<%=product.price%></div>
                                    <% end %>
                                </li>
                                <% end %>
                                <% end %>
                                <% end %>
                            </ul>
                        </div>

                    </section>

                    <section id="newItem">
                        <h1>科技众筹</h1>

                        <div class="more">
                            <%= link_to("更多", search_products_path(:order => "created_at", :query_string => "科技众筹"), method: :get) %>
                        </div>

                        <div class="wrap">
                            <ul>
                                <% if  @products.present? %>
                                <% @products.order('created_at DESC').each do |product| %>
                                <% if  true == product.categories.eql?("科技众筹")%>
                                <li>
                                    <%= link_to product_path(product) do %>
                                    <% if product.image.present? %>
                                    <span class="thumb"><%= image_tag(product.image.thumb.url)%></span>
                                <% else %>
                                    <span class="thumb"><%= image_tag(product.image_path, class: "") %>
                                    </span>
                                    <% end %>
                                    <br>
                                    <div class="" style="text-align:center;"><%=product.title%></div>
                                    <div class="" style="text-align:center;">￥<%=product.price%></div>
                                    <% end %>
                                </li>
                                <% end %>
                                <% end %>
                                <% end %>
                            </ul>
                        </div>

                    </section>


                    <section id="event">
                        <h1>活动一览</h1>

                        <div class="wrap">
                            <ul>

                                <li>
                                    <a href="/">
                                        <img src="images/panel/openmuji-sh755_640.jpg">
                                        <span class="title">优惠活动</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/">
                                        <img src="images/panel/lab_140430_01.jpg">
                                        <span class="title">使用攻略</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/">
                                        <img src="images/panel/lab_140521_01.jpg">
                                        <span class="title">健康贴士</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </section>

                </div>
                <!-- #main -->

                <aside id="misc">
                    <div class="content">
                        <ul class="sns">

                            <li class="weibo">
                                <a href="/" target="_blank"><img src="/images/misc_weibo.png" alt="weibo"></a>
                            </li>

                            <li class="wechat">
                                <a href="/" target="_blank"><img src="/images/misc_wechat.png" alt="wechat"></a>
                            </li>

                            <li class="douban">
                                <a href="/" target="_blank"><img src="/images/misc_douban.png" alt="douban"></a>
                            </li>

                        </ul>

                    </div>
                </aside>

                <script>
                    //FastClick
                    if (cssua.ua.mobile) {
                        $(function () {
                            var selectors = [
                                $("#hGlobalNav h1").get(0),
                                $("#hSearch h1").get(0),
                                $(".cancel").get(0),
                                $(".prev").get(0),
                                $(".next").get(0),
                                $(".avater").get(0)
                            ];

                            for (var i = 0, sLen = selectors.length; i < sLen; i++) {
                                if (selectors[i] != undefined) {
                                    FastClick.attach(selectors[i]);
                                }
                            }
                        });
                    }
                </script>

                <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=18c2abab0deabc84cf240d2e1123f5a1"></script>

                <script>
                    MAP_LIMIT_SHOPLIST = 10;/* Maximum number of stores list */
                    MAP_LIMIT_MARKER = 100;/* Maximum number of stores placed on the map */
                    MAP_IMG_MARKER = "/images/marker_red_default.png";
                    MAP_IMG_SELF_POS = "/images/self_position.png";

                    MAP_MARKER_LINK_URL = "http://www.muji.com/storelocator/?c=cn";
                    MAP_SHOPLIST_JSON_URL = "http://www.muji.com/storelocator/?c=cn&lang=LC&baidu_flag=1&_ACTION=_SEARCH";

                    MAP_DEFAULT_ZOOM = 8;
                    MAP_DEFAULT_LAT = 39.921783;
                    MAP_DEFAULT_LON = 116.440247;
                    MAP_LOAD_DIV_ID = "map";
                </script>

                <script type="text/javascript">
                    _satellite.pageBottom();
                </script>

                <!-- jQuery -->
                <!-- Script to Activate the Carousel -->
                <script>
                    $('.carousel').carousel({
                        interval: 5000 //changes the speed
                    })
                    $('#bootstrap-touch-slider').bsTouchSlider();
                </script>

                <script>
                    å
                    $(document).ready(function () {
                        $('.material-button-toggle').click(function () {
                            $(this).toggleClass('open');
                            $('.option').toggleClass('scale-on');
                        });
                    });
                </script>
            </body>

        </html>
