<!DOCTYPE html>

<html lang="zh-cn" xml:lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="Description" content="">
        <meta charset="utf-8"/>
        <link rel="contents" href="/" title="Home">
        <script type="text/javascript" src="//www.muji.com.cn/cn/store/js/FSC02210.js" charset="utf-8"></script>
        <link href="//www.muji.com.cn/cn/store/css/muji.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="//www.muji.com.cn/cn/store/js/mj-productListView_search.js" charset="utf-8"></script>

        <title>

            商品搜寻 | 防霾库
        </title>
    </head>

    <body id="labtop" background="/images/bg.jpg">
  <div class="container-fluid">
    <%= render "common/navbar" %>
        <%= render "common/flashes" %>

      <div class="container-fluid" style="padding-right: 0px; padding-left: 0px; margin-right: auto; margin-left: auto;">
        <script type="text/javascript">
            function showBag(flg) {
                if (flg == "1") {
                    document.getElementById("gnav_cart_target").style.display = 'block';
                } else {
                    document.getElementById("gnav_cart_target").style.display = 'none';
                }

            }
        </script>

        <div class="content">
            <nav id="sideNav" style="float: left; width: 150px; margin-left: 50px; margin-right: 30px; margin-top: 113px;">
                <h2>进阶搜索</h2>
                <div id="snCategory">
                    <ul class="snCategoryL1">
                        <li>
                            <h3 class="contentClose">选择类别</h3>
                            <ul class="snCategoryL2">
                                <li>
                                    <%= link_to("防霾口罩", search_products_path(:order => "created_at", :query_string => "防霾口罩"), method: :get) %>
                                </li>
                                <li>
                                    <%= link_to("霾表", search_products_path(:order => "created_at", :query_string => "霾表"), method: :get) %>
                                </li>
                                <li>
                                    <%= link_to("空气净化", search_products_path(:order => "created_at", :query_string => "空气净化器"), method: :get) %>
                                </li>
                                <li>
                                    <%= link_to("所有商品", search_products_path(:order => "created_at", :query_string => ""), method: :get) %>
                                </li>
                            </ul>
                        </li>
                        <!-- <li><h3 class="contentClose">选择价格</h3>
   				<ul class="snCategoryL2">
   					<li>
								<a href="FSC02210E01.do?qtext=%E7%81%AF&amp;qstart=0&amp;sort=goods_disp_priority&amp;qrow=50&qrange=49%E5%85%83%E4%BB%A5%E4%B8%8B">
									99元以下
								</a>
							</li>
		         <li>
								<a href="FSC02210E01.do?qtext=%E7%81%AF&amp;qstart=0&amp;sort=goods_disp_priority&amp;qrow=50&qrange=50%E5%85%83%EF%BD%9E99%E5%85%83">
									99元～999元
								</a>
							</li>
							<li>
								<a href="FSC02210E01.do?qtext=%E7%81%AF&amp;qstart=0&amp;sort=goods_disp_priority&amp;qrow=50&qrange=100%E5%85%83%EF%BD%9E199%E5%85%83">
									1000元～9999元
								</a>
							</li>
					</ul>
				</li> TBD  later do it-->
                    </ul>
                    <ul class="snCategoryL1">
                        <li class="D00010">
                            <h3 id="features">精选・新到商品</h3>
                            <ul class="snCategoryL2">
                                <li>
                                <%= link_to("优惠活动", search_products_path(:order => "created_at", :query_string => "discounted"), method: :get)%>
                                </li>
                                <li><%= link_to("防霾众筹", funding_path, method: :get) %></li>
                                <li><%= link_to("新到商品", search_products_path(:order => "created_at", :query_string => ""), method: :get) %></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- start FSC-02-210-1 // -->
            <script>
                $("head").append('<meta content="width=device-width, initial-scale=1.0, user-scalable=yes" name="viewport">');
                $("body").attr("id", "search");
            </script>
            <link href="/cn/store/css/muji_cn.css" rel="stylesheet" type="text/css"/>
            <link href="/cn/store/css/store/store.css" rel="stylesheet" type="text/css"/>
            <link href="/cn/store/css/store/store_cn.css" rel="stylesheet" type="text/css"/>
            <link href="/cn/store/css/mobile.css" rel="stylesheet" type="text/css" media="only screen and (min-device-width : 320px) and (max-device-width : 767px)"/>
            <link href="/cn/store/css/mobile_cn.css" rel="stylesheet" type="text/css" media="only screen and (min-device-width : 320px) and (max-device-width : 767px)"/>
            <!-- //end FSC-02-210-1 -->

            <div id="main" style="min-height: 440px; padding:20px,60px,30px,60px;">
                <div class="productlistPager">
                    <div class="totalItems">
                        <span class="itemnum">9
                        </span>商品中
                        <span class="itemnum">
                            1-9
                        </span>商品
                    </div>
                </div>

                <section id="newItem">
                    <div class="wrap">
                        <ul>
                            <% if  @products.present? %>
                            <% @products.order('created_at DESC').each do |product| %>
                            <li style="width: 22%">
                                  <dl class="info">
                                      <%= link_to product_path(product) do %>
                                      <% if product.image.present? %>
                                      <dt class="thumb">
                                          <%= image_tag(product.image.thumb.url)%>
                                      </dt>
                                  <% else %>
                                      <dt class="thumb">
                                          <%= image_tag(product.image_path, class: "thumb") %>
                                      </dt>
                                      <% end %>
                                      <br>
                                      <dd class="name"><%=product.title%></dd>
                                      <% end %>
                                      <%= link_to product_path(product) do %>
                                      <% if product.is_discounted %>
                                      <dd class="tag">
                                        <dd class="tag">
                                            <div class="tag sale" style="font-size: 11px; color:#7f0019; text-align:center;">限时特价商品</div>
                                        </dd>
                                      </dd>
                                      <dd class="price">
                                          <del>
                                              <span class="num">￥<%=product.original_price%></span>
                                          </del>
                                          <ins>
                                              <span class="num">￥<%=product.price%></span>
                                          </ins>
                                      </dd>
                                      <%elsif product.is_fund%>
                                      <dd class="price">
                                          <span>预估市场价</span>
                                          <ins>
                                              <span  style="color:#2fd6a2;" class="num">￥<%=product.price%></span>
                                          </ins>
                                      </dd>
                                      <% else %>
                                      <% if product.is_fund %>
                                      <span class="num">预估市场价</span>
                                      <dd class="price">
                                          <ins>
                                              <span class="num" style="color:#2fd6a2">￥<%=product.price%></span>
                                          </ins>
                                      </dd>
                                      <% else %>
                                      <dd class="price">
                                          <ins>
                                              <span class="num">￥<%=product.price%></span>
                                          </ins>
                                      </dd>

                                      <% end %>
                                      <% end %>
                                      <% end %>
                                  </dl>
                              </li>
                            <% end %>
                            <% end %>
                        </ul>
                    </div>

                </section>
            </div>
          </div>
        </div>
  </div>
</body>



    </html>
