
<head>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->

	<style>
	.menulist-item{margin-right:30px;font-size:14px;cursor:pointer;}
	li.active{border-bottom:3px solid silver;}
	.item-photo{display:flex;justify-content:center;align-items:center;border-right:1px solid #f6f6f6;}
	.menulist{list-style-type:none;font-size:11px;display:inline-flex;margin-bottom:0px;margin-top:20px}
	.section{width:100%;margin-left:-15px;padding:2px;padding-left:15px;padding-right:15px;background:#f8f9f9}
	.btn-minus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-right:0px;}
	.btn-plus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-left:0px;}
	div.section > div {width:100%;display:inline-flex;}
	div.section > div > input {margin:0px;padding-left:5px;font-size:10px;padding-right:5px;max-width:18%;text-align:center;}
  .description{width:100%;border-top:1px solid silver;}
  .description-item{display: none;}

	/*5种背景颜色*/
	.bg-color1 {
	  background: #F5F5F5;
	}
	.white{
	  background-color: white;
	}

	/*商品详情*/
	.productDecription {
		width: auto;
	  text-align: center;
		/*margin: 20px auto;*/
		border: 1px solid #F5F5F5;
	  line-height: 30px;
	}

	.productDecription-menuList {
		height: 35px;
	}

	.productDecription-menuList-item {
		float: left;
		width: 175px;
		height: 35px;
		cursor: pointer;
	}

	.productDecription-content {
		width: auto;
	  height: 100%;
		/*margin: 50px auto;*/
	}

		.productDecription-content-item {
		  display: none;
		  width: auto;
		  height: auto;
		}
	.blkz{
		  background-image: url("/images/product_1.jpg");
			background-repeat:no-repeat;
			background-size: cover;
	}
	.xmkz{
			background-image: url("/images/product_2.jpg");
			background-repeat:no-repeat;
			background-size: cover;
	}
	.ldkz{
			background-image: url("/images/product_3.jpg");
			background-repeat:no-repeat;
			background-size: cover;
	}
	.kqg{
			background-image: url("/images/product_4.jpg");
			background-repeat:no-repeat;
			background-size: cover;
	}
	.hjb{
			background-image: url("/images/product_5.jpg");
			background-repeat:no-repeat;
			background-size: cover;
	}
	.ld{
			background-image: url("/images/product_6.jpg");
			background-size: cover;
			background-repeat:no-repeat;
	}
	.blueair{
			background-image: url("/images/product_7.jpg");
			background-size: cover;
			background-repeat:no-repeat;
	}
	.dyson{
	  background-image: url("/images/product_8.jpg");
		background-repeat:no-repeat;
		background-size: cover;
	}
	.sl{
	  background-image: url("/images/product_9.jpg");
		background-repeat:no-repeat;
		background-size: cover;
	}
	.nosuchpro{
	  background-image: url("/images/product_10.jpg");width:inherit;
		background-repeat:no-repeat;
		background-size: cover;

	}






	</style>

</head>

<body id="labtop">
<div class="container-fluid">
<%= render "common/navbar" %>
		<%= render "common/flashes" %>



<div class="container" style="padding-right: 0px; padding-left: 0px; margin-right: auto; margin-left: auto;">
	<div class="row">
   <div class="col-xs-4 item-photo">
     <% if @product.image.present? %>
             <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
         <% else %>
             <%= image_tag(@product.image_path, class: "thumbnail") %>
             <% end %>

                </div>
                <div class="col-xs-5" style="border:0px solid gray">

                    <h3 id="tt"><%= @product.title %></h3>

                    <h4 style="margin-top:20px;">￥
                                <%= @product.price %></h4>
                    <div class="section" style="margin-top:5px;padding-bottom:10px;">

                      库存:<div id="pq" style="display:inline">

                               <%= @product.quantity %>
                     </div>

                        <div>
                            <div class="btn-minus" onclick="deleteOne()"><span class="glyphicon glyphicon-minus"></span></div>

                            <input id="productNum" type="text" min="1" value="1"/>

                            <div class="btn-plus" onclick="addOne()"><span class="glyphicon glyphicon-plus"></span></div>
                        </div>
                    </div>

                    <div class="section" style="padding-bottom:10px;">
                      <div class="formLink">
                              <% if @product.quantity.present? && @product.quantity > 0 %>
                              <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-danger") %>
                          <% else %>
                              已销售一空，无法购买
                              <% end %>
                          </div>

                    </div>
                </div>

								<div class="col-xs-5  ">
                    <ul class="menulist">
                        <li class="menulist-item active">功能</li>
	                      <li class="menulist-item">规格</li>
                        <li class="menulist-item">why me</li>
                    </ul>
                    <div class="description">
											<div class="description-item" style="display:block">
												<p style="padding:15px 0;color:gray;">
                          <%= @product.description %>
                        </p>
											</div>
											<div class="description-item">
												<p id="type" style="padding:15px 0;color:gray;">
												</p>
											</div>
											<div class="description-item">
												<p id="why" style="padding:15px 0;color:gray;">
												</p>
											</div>
                    </div>
                </div>
	</div>
</div>

<!-- 选项卡区-->
<div class="productDecription row">
  <div class="productDecription-menuList bg-color1">
    <div class="productDecription-menuList-item white">展示</div>
    <div class="productDecription-menuList-item ">评价</div>
  </div>
  <div class="productDecription-content">
    <div class="productDecription-content-item" style="display: block;" id="div1"></div>
    <div class="productDecription-content-item" style="text-align:center;padding-top:15px;">

				防霾：⭐️⭐️⭐️⭐️⭐️<br />
				外观：⭐️⭐️⭐️⭐️⭐️
			</div>
  </div>

</div>

</div>
</body>
<script>
$(document).ready(function(){
	var imgtag=document.createElement('img');
	var imgtag1=document.createElement('img');
	var div1=document.getElementById('div1');
	var imgtag = new Array("imgtag1","imgtag2","imgtag3","imgtag4","imgtag5");
	for(var i=0;i<5	;i++){
		imgtag[i]=document.createElement('img');
	}


	var tt=$('#tt').text();

		if(tt=="空气果"){
			window.location = "http://localhost:3000/products/4/funding_product"
		}else if (tt=="小米口罩") {
			window.location = "http://localhost:3000/products/2/funding_product"
		}else if (tt=="布梨口罩"){
			type.innerHTML='防霾成人口罩';
			why.innerHTML='小米明星产品，日本进口滤材，纳米驻级过滤呼吸，口罩体验新革命。';
			div1.appendChild(imgtag[0]);
			div1.appendChild(imgtag[1]);
			imgtag[0].setAttribute('src','/images/kz_blxf_1.jpg');
			imgtag[1].setAttribute('src','/images/kz_blxf_2.jpg');
		}else if (tt=="绿盾口罩"){
			type.innerHTML='防霾儿童口罩';
			why.innerHTML='儿童专用口罩，提供四重保护，全棉布料，可反复清洗。让你的孩子更健康、舒适的选择。';
			for(var i=0;i<5;i++){
				div1.appendChild(imgtag[i]);
			}
			imgtag[0].setAttribute('src','/images/kz_ld_1.jpg');
			imgtag[1].setAttribute('src','/images/kz_ld_2.jpg');
			imgtag[2].setAttribute('src','/images/kz_ld_3.jpg');
			imgtag[3].setAttribute('src','/images/kz_ld_4.jpg');
			imgtag[4].setAttribute('src','/images/kz_ld_5.jpg');
		}else if (tt=="环境宝"){
			type.innerHTML='智能家居空气检测仪';
			why.innerHTML='先锋科技，采用英国剑桥TVOC传感器、德州仪器温湿度传感器，测量数据精准可靠，外形小巧、居家必备。';
			div1.appendChild(imgtag[0]);
			div1.appendChild(imgtag[1]);
			imgtag[0].setAttribute('src','/images/mb_hjb_1.jpg');
			imgtag[1].setAttribute('src','/images/mb_hjb_2.jpg');
		}else if (tt=="镭豆"){
			type.innerHTML='镭豆智能空气质量检测仪';
			why.innerHTML='测量精准，时尚美观，便携轻巧。';
			var ldiv=document.createElement('div');
			div1.appendChild(ldiv);
			ldiv.appendChild(imgtag[0]);
			div1.appendChild(imgtag[1]);
			imgtag[0].setAttribute('src','/images/mb_ld_1.jpg');
			imgtag[1].setAttribute('src','/images/mb_ld_2.jpg');
		}else if (tt=="Blueair"){
			type.innerHTML='Blueair 瑞典家用空气净化器 503';
			why.innerHTML='高性能、高品质的选择。全球超高的CADR值，节能环保，零臭氧排放，确保高效净化。';
			for(var i=0;i<5;i++){
				div1.appendChild(imgtag[i]);
			}
			imgtag[0].setAttribute('src','/images/jhq_blueair_1.jpg');
			imgtag[1].setAttribute('src','/images/jhq_blueair_2.jpg');
			imgtag[2].setAttribute('src','/images/jhq_blueair_3.jpg');
			imgtag[3].setAttribute('src','/images/jhq_blueair_4.jpg');
			imgtag[4].setAttribute('src','/images/jhq_blueair_5.jpg');
		}else if (tt=="戴森"){
			type.innerHTML='Dyson戴森 AM11 空气净化风扇';
			why.innerHTML='有效循环室内空气，让净化的空气在整个房间流通。专注净化率，发明了一种空气净化装置，可以深度去除有害超细颗粒物。';
			div1.appendChild(imgtag[0]);
			imgtag[0].setAttribute('src','/images/jhq_dyson.jpg');
		}else if (tt=="三菱"){
			type.innerHTML='三菱重工空气净化器SP-CSM22BW';
			why.innerHTML='日本进口滤材，专利杀菌、除二手烟、除异味、除甲醛、苯。';
			div1.appendChild(imgtag[0]);
			div1.appendChild(imgtag[1]);
			imgtag[0].setAttribute('src','/images/jhq_sl_1.jpg');
			imgtag[1].setAttribute('src','/images/jhq_sl_2.jpg');
		}

})
// 上方选项卡
$(document).on('click', '.menulist-item', function () {
  var index = $(this).index() //拿到这个「选项卡」的index，第一个是0，第二个是1，以此类推
  $('.menulist-item').removeClass('active')
  $(this).addClass('active')
  $('.description-item').hide() //所有的内容都隐藏
  $('.description-item').eq(index).show() //只显示对于index的内容

})

// 下方选项卡
$(document).on('click', '.productDecription-menuList-item', function () {
  var index = $(this).index() //拿到这个「选项卡」的index，第一个是0，第二个是1，以此类推
  $('.productDecription-menuList-item').removeClass('white')
  $(this).addClass('white')
  $('.productDecription-content-item').hide() //所有的内容都隐藏
  $('.productDecription-content-item').eq(index).show() //只显示对于index的内容

})


// 购买数量选项
function addOne(){
  var pn=document.getElementById('productNum')
		var pq=document.getElementById('pq')
		if (parseInt(pn.value)<pq.innerHTML) {
			pn.value=parseInt(pn.value)+1
		}

}

function deleteOne(){
  var pn=document.getElementById('productNum')
  if (parseInt(pn.value)>1 ) {
	  pn.value=parseInt(pn.value)-1
  }

}


</script>
