<body id="labtop">

    <div id="main">
        <section id="mainCampaign">
            <div class="wrap">
                <section id="newItem">
                    <div class="content">

                        <div class="col-md-6">
                            <% if @product.image.present? %>
                            <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
                        <% else %>
                            <%= image_tag(@product.image_path, class: "thumbnail") %>
                            <% end %>
                        </div>
                        <div class="col-md-6">
                            <h2>
                                <%= @product.title %>
                            </h2>
                            <div style="height:100px;">
                                <p>
                                    <%= @product.description %>
                                </p>
                            </div>
                            <br>
                            <div>
                                数量 :
                                <%= @product.quantity %>
                            </div>
                            <br>
                            <div>
                                神器指数：⭐️⭐️⭐️⭐️⭐️
                            </div>
                            <br>
                            <div class="product-price">
                                ￥
                                <%= @product.price %>
                            </div>
                            <br>
                            <br>
                            <div class="formLink">
                                <% if @product.quantity.present? && @product.quantity > 0 %>
                                <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-lg btn-danger") %>
                            <% else %>
                                已销售一空，无法购买
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
