<head>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->

	<style>
	ul > li{margin-right:30px;font-size:14px;cursor:pointer}
	li.active{border-bottom:3px solid silver;}

	.item-photo{display:flex;justify-content:center;align-items:center;border-right:1px solid #f6f6f6;}
	.menu-items{list-style-type:none;font-size:11px;display:inline-flex;margin-bottom:0px;margin-top:20px}
	.btn-success{width:100%;border-radius:0px;}
	.section{width:100%;margin-left:-15px;padding:2px;padding-left:15px;padding-right:15px;background:#f8f9f9}
	.title-price{margin-top:30px;margin-bottom:0px;color:black}
	.title-attr{margin-top:0px;margin-bottom:0px;color:black;}
	.btn-minus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-right:0px;}
	.btn-plus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-left:0px;}
	div.section > div {width:100%;display:inline-flex;}
	div.section > div > input {margin:0px;padding-left:5px;font-size:10px;padding-right:5px;max-width:18%;text-align:center;}
	.attr,.attr2{cursor:pointer;margin-right:5px;height:20px;font-size:10px;padding:2px;border:1px solid gray;border-radius:2px;}
	.attr.active,.attr2.active{ border:1px solid orange;}

	@media (max-width: 426px) {
	    .container {margin-top:0px !important;}
	    .container > .row{padding:0px !important;}
	    .container > .row > .col-xs-12.col-sm-5{
	        padding-right:0px ;
	    }
	    .container > .row > .col-xs-12.col-sm-9 > div > p{
	        padding-left:0px !important;
	        padding-right:0px !important;
	    }
	    .container > .row > .col-xs-12.col-sm-9 > div > ul{
	        padding-left:10px !important;

	    }
	    .section{width:104%;}
	    .menu-items{padding-left:0px;}
	}

	/*5种背景颜色*/
	.bg-color1 {
	  background: #F5F5F5;
	}
	.white{
	  background-color: white;
	}

	/*商品详情*/
	.productDecription {
		width: auto;
	  text-align: center;
		/*margin: 20px auto;*/
		border: 1px solid #F5F5F5;
	  line-height: 30px;
	}

	.productDecription-menuList {
		height: 35px;
	}

	.productDecription-menuList-item {
		float: left;
		width: 175px;
		height: 35px;
		cursor: pointer;
	}

	.productDecription-content {
		width: auto;
	  height: 1000px;
		/*margin: 50px auto;*/
	}

		.productDecription-content-item {
		  display: none;
		  width: auto;
		  height: 750px;
		}
	.blkz{
		  background-image: url("https://ww4.sinaimg.cn/large/006tNc79ly1fcttsjyrucj318g0rswnn.jpg");
			background-repeat:round;
	}
	.xmkz{
			background-image: url("https://ww3.sinaimg.cn/large/006tKfTcgy1fd1yoik0cbj30so0hsdmg.jpg");
			background-repeat:round;
	}
	.ldkz{
			background-image: url("https://ww3.sinaimg.cn/large/006tKfTcgy1fd0tawug6hj31kw0v4e82.jpg");
			background-repeat:round;
	}
	.kqg{
			background-image: url("https://ww3.sinaimg.cn/large/006tKfTcgy1fd0tawug6hj31kw0v4e82.jpg");
			background-repeat:round;
	}
	.hjb{
			background-image: url("https://ww3.sinaimg.cn/large/006tKfTcgy1fd0tawug6hj31kw0v4e82.jpg");
			background-repeat:round;
	}
	.ld{
			background-image: url("https://ww3.sinaimg.cn/large/006tKfTcgy1fd0tawug6hj31kw0v4e82.jpg");
			background-repeat:round;
	}
	.blueair{
			background-image: url("https://ww3.sinaimg.cn/large/006tKfTcgy1fd1yqdswfuj30ri0dctd8.jpg");
			background-repeat:round;
	}
	.dyson{
	  background-image: url("https://ww2.sinaimg.cn/large/006tKfTcgy1fd1ytqp39uj30ly0i010u.jpg");
		background-repeat:round;
	}
	.sl{
	  background-image: url("https://ww2.sinaimg.cn/large/006tKfTcgy1fd1yxchwt5j30ku0ewq8j.jpg");
		background-repeat:round;
	}
	</style>

</head>

<body>


<div class="container">
	<div class="row">
   <div class="col-xs-4 item-photo">
     <% if @product.image.present? %>
             <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
         <% else %>
             <%= image_tag(@product.image_path, class: "thumbnail") %>
             <% end %>

                </div>
                <div class="col-xs-5" style="border:0px solid gray">

                    <h3 id="tt"><%= @product.title %></h3>

                    <h4 style="margin-top:20px;">￥
                                <%= @product.price %></h4>
                    <div class="section" style="margin-top:5px;padding-bottom:10px;">

                      库存:<div id="pq" style="display:inline">

                               <%= @product.quantity %>
                     </div>

                        <div>
                            <div class="btn-minus" onclick="deleteOne()"><span class="glyphicon glyphicon-minus"></span></div>

                            <input id="productNum" type="text" min="1" value="1"/>

                            <div class="btn-plus" onclick="addOne()"><span class="glyphicon glyphicon-plus"></span></div>
                        </div>
                    </div>

                    <div class="section" style="padding-bottom:10px;">
                      <div class="formLink">
                              <% if @product.quantity.present? && @product.quantity > 0 %>
                              <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-danger") %>
                          <% else %>
                              已销售一空，无法购买
                              <% end %>
                          </div>

                    </div>
                </div>

                <div class="col-xs-5  ">
                    <ul class="menu-items">
                        <li class="active">功能</li>
	                      <li>细节</li>
                        <li>why me</li>

                    </ul>
                    <div style="width:100%;border-top:1px solid silver">
                        <p style="padding:15px;color:gray;">

                            <%= @product.description %>

                        </p>

                    </div>
                </div>
	</div>
</div>
<!-- 选项卡区-->
<div class="productDecription row">
  <div class="productDecription-menuList bg-color1">
    <div class="productDecription-menuList-item white">展示</div>
    <div class="productDecription-menuList-item ">评价</div>
  </div>
  <div class="productDecription-content">
    <div class="productDecription-content-item" style="display: block;"></div>
    <div class="productDecription-content-item" style="text-align:center;padding-top:100px;">

				防霾：⭐️⭐️⭐️⭐️⭐️<br />
				外观：⭐️⭐️⭐️⭐️⭐️
			</div>
  </div>
</div>


</body>
